<div class="activity-headline">
  {{icon "issue-reopened"}}
  <div>
    <strong>{{user-avatar user=data.user preset="small"}}{{data.user.displayName}}</strong>
    <span class="tag tag--progress">{{t 'activity.resume.action'}}</span>
    {{timestamp-full data.createdAt}}
  </div>
</div>