{{#if value}}
  <small class="fr">
    {{icon 'markdown' class="nb-2"}}
    <a class="link light-silver b" {{action (toggle 'isPreviewed' this)}}>
      {{#if isPreviewed}}
        {{t 'actions.markdownEdit'}}
      {{else}}
        {{t 'actions.markdownPreview'}}
      {{/if}}
    </a>
    <a href="https://commonmark.org/help/" target="_blank" class="link light-silver">
      {{t 'actions.markdownHelp'}}
    </a>
  </small>
{{/if}}

{{#if (and value isPreviewed)}}
  <div class="bg-washed-yellow mt2 pa3">
    {{markdown-to-html value}}
  </div>
{{else}}
  {{yield}}
{{/if}}
