<div class="mw7 center pv4 ph4">
  {{validated-input defaultField=true inputId='ticket-first-name' label=(t 'ticket.firstName.label') required=true buffer=buffer property='firstName'}}

  {{validated-input defaultField=true class="pt4" inputId='ticket-last-name' label=(t 'ticket.lastName.label') required=true buffer=buffer property='lastName'}}

  <div class="pt4">
    <label for="ticket-born-at">{{t 'ticket.bornAt.label'}}</label>

    {{input-date
      id='ticket-born-at'
      class='db w-100 ba br1 pa2 b--moon-gray'
      value=buffer.bornAt
      onSelect=(action (changeset-set buffer 'bornAt') value='date')
      maxDate=today
    }}
  </div>

  {{validated-input defaultField=true class="pt4" inputId='ticket-identifier' label=(t 'ticket.identifierPerson.label') buffer=buffer property='identifier'}}

  {{#validated-input class="pt4" inputId='ticket-nationality' label=(t 'ticket.countryPerson.label') buffer=buffer property='country' as |vi errors|}}

    <select
      class={{concat 'db w-100 ba br1 pa2 b--moon-gray bg-white ' (if errors.validation 'b--dark-red')}}
      id={{vi.inputId}}
      oninput={{action (changeset-set buffer vi.property) value='target.value'}}
      onblur={{action 'validateProperty' buffer vi.property target=vi}}
    >
      <option value=""> - {{t 'actions.choose'}} - </option>
      {{#each-in countries as |code name|}}
        <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
      {{/each-in}}
    </select>
  {{/validated-input}}

  {{#validated-input
    class="pt4" inputId='ticket-background'
    label=(t 'ticket.background.formLabel')
    desc=(t 'ticket.background.desc')
    required=true
    buffer=buffer
    property='background' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-initial-information'
    label=(t 'ticket.initialInformation.formLabel')
    desc=(t 'ticket.initialInformation.desc')
    required=true
    buffer=buffer
    property='initialInformation' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-sources-person'
    label=(t 'ticket.sourcesPerson.label')
    desc=(t 'ticket.sourcesPerson.desc')
    buffer=buffer
    property='sources' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-connections-person'
    label=(t 'ticket.connectionsPerson.label')
    desc=(t 'ticket.connectionsPerson.desc')
    buffer=buffer
    property='connections' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input class="pt4" inputId='ticket-business-activities' label=(t 'ticket.businessActivities.label') buffer=buffer property='businessActivities' as |vi errors|}}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}
</div>
