{{#file-dropzone name="ticket-attachments" as |dropzone queue|}}
  {{#if dropzone.active}}
    {{#if dropzone.valid}}
      Drop to upload
    {{else}}
      Invalid
    {{/if}}
  {{else if queue.files.length}}
    Uploading {{queue.files.length}} files. ({{queue.progress}}%)
  {{else}}
    <h4>Upload files</h4>
    <p>
      {{#if dropzone.supported}}
        Drag and drop files onto this area to upload them or
      {{/if}}
      {{#file-upload
        name="ticket-attachments"
        multiple=true
        onfileadd=(action "addFile")}}
        <a id="ticket-upload-attachments" tabindex=0>Select a file.</a>
      {{/file-upload}}
    </p>
  {{/if}}
{{/file-dropzone}}