<p class="pb4" data-test-deadline-at>
  {{#if (can 'manage tickets')}}
    <label for="ticket-deadline" class="mb0 db">
      <span class="gray ttu tracked b">
        {{t 'ticket.deadline.label'}}
      </span>
    </label>

    {{#with (changeset model OtherValidations) as |buffer|}}
      {{#validated-input
        tagName=''
        inputId='ticket-deadline'
        showErrors=false
        buffer=buffer
        property='deadlineAt' as |vi errors|
      }}
        {{input-date
          value=(get buffer vi.property)
          onSelect=(action (changeset-set buffer vi.property) value='date')
          id=vi.inputId
          class=(concat 'm-0 bt-0 bl-0 br-0 bb b--moon-gray' (if errors.validation ' b--dark-red'))
          center=center
          minDate=minimumDeadline
        }}
      {{/validated-input}}

      <a {{action 'saveDeadline' buffer}} disabled={{model.isSaving}} class="link b" data-test-save-deadline-at>
        {{t 'actions.save'}}
      </a>
    {{/with}}
  {{else}}
    <span class="gray ttu tracked db b">
      {{#if model.deadlineAt}}
        {{t 'ticket.deadline.label'}}
      {{else}}
        {{t 'ticket.deadline.empty'}}
      {{/if}}
    </span>
    {{#if model.deadlineAt}}
      {{timestamp-date model.deadlineAt}}
    {{/if}}
  {{/if}}
</p>
