{{#if (gt total 1)}}

  {{#if meta.pagination.prev.number}}
    {{#link-to route (query-params page=meta.pagination.prev.number) class="pg-prev" data-test-pagination="prev"}}
      {{~t 'pagination.prev'~}}
    {{/link-to}}
  {{else}}
    <span class="pg-prev is-disabled">{{t 'pagination.prev'}}</span>
  {{/if}}

  {{#each items as |number|}}
    {{#if number}}
      {{#link-to route (query-params page=number) class=(concat "pg-item " (if (eq number current) "is-active"))}}
        {{~number~}}
      {{/link-to}}
    {{else}}
      <span class="pg-sep">&hellip;</span>
    {{/if}}
  {{/each}}

  {{#if meta.pagination.next.number}}
    {{#link-to route (query-params page=meta.pagination.next.number) class="pg-next" data-test-pagination="next"}}
      {{~t 'pagination.next'~}}
    {{/link-to}}
  {{else}}
    <span class="pg-next is-disabled">{{t 'pagination.next'}}</span>
  {{/if}}

{{/if}}
