{{#if (gt total 1)}}
<ul class="pg-container">

  {{#if meta.pagination.prev.number}}
    <li class="pg-prev">
      {{#link-to route (query-params page=meta.pagination.prev.number) data-test-pagination="prev"}}
        <b>{{t 'pagination.prev'}}</b>
      {{/link-to}}
    </li>
  {{else}}
    <li class="pg-prev is-disabled"><span> <b>{{t 'pagination.prev'}}</b> </span></li>
  {{/if}}

  {{#each items as |number|}}
    {{#if number}}
      <li class="pg-item {{if (eq number current) "is-active"}}">
        {{#link-to route (query-params page=number)}}{{number}}{{/link-to}}
      </li>
    {{else}}
      <li class="pg-sep"><span>&hellip;</span></li>
    {{/if}}
  {{/each}}

  {{#if meta.pagination.next.number}}
    <li class="pg-next">
      {{#link-to route (query-params page=meta.pagination.next.number) data-test-pagination="next"}}
        <b>{{t 'pagination.next'}}</b>
      {{/link-to}}
    </li>
  {{else}}
    <li class="pg-next is-disabled"><span> <b>{{t 'pagination.next'}}</b> </span></li>
  {{/if}}

</ul>
{{/if}}