<div class="activity-author">
  <strong>{{data.author.displayName}}</strong>
  at
  <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
    {{moment-format data.createdAt 'h:mm A, DD MMM YYYY'}}
  </time>
</div>
<div class="activity-body formatted">
  {{~data.comment~}}
</div>