<div class="activity-author">
  <strong>{{data.user.displayName}}</strong>
  {{t 'activity.comment.action'}}
  <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
    {{moment-from-now data.createdAt}}
  </time>
</div>
<div class="activity-body formatted" data-test-activity-body>
  {{~data.comment.body~}}
</div>