<div class="activity-headline">
  {{icon "check"}}
  <div>
    {{status-label 'closed'}}
    {{t 'prefixes.by'}}
    <strong>{{data.user.displayName}}</strong>
    <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
      {{moment-from-now data.createdAt}}
    </time>
  </div>
</div>