<div class="activity-headline">
  {{status-label (get statusByType data.type)}}
  by
  <strong>{{data.author.displayName}}</strong>
  at
  <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
    {{moment-format data.createdAt 'h:mm A, DD MMM YYYY'}}
  </time>
</div>