{{#ui-dropdown class=class data-test-dd="i18n-switch" as |dd|}}
  {{#dd.trigger}}{{icon 'globe' class="nb-2"}} {{currentLocale}}{{/dd.trigger}}
  {{#dd.body class="dd--xs"}}
    <div class="list">
      {{#each locales as |locale|}}
        <a href {{action (pipe (action switchLocale locale) dd.close)}} class="list-item {{if (eq currentLocale locale) "is-active"}}" data-test-kind-option={{locale}}>
          {{t (concat 'locales.' locale)}}
        </a>
      {{/each}}
    </div>
  {{/dd.body}}
{{/ui-dropdown}}
