<div class="mw7 center pv4 ph4">
  {{#validated-input
    class="pt4"
    inputId='ticket-category'
    label=(t 'ticket.dataCategory.label')
    buffer=buffer
    required=true
    property='initialInformation' as |vi errors|
  }}
    <select
      class={{concat 'db w-100 ba br1 pa2 b--moon-gray bg-white ' (if errors.validation 'b--dark-red')}}
      id={{vi.inputId}}
      oninput={{action (changeset-set buffer vi.property) value='target.value'}}
      onblur={{action 'validateProperty' buffer vi.property target=vi}}
    >
      <option value="">{{t 'dropdownBlank'}}</option>
      {{#each-in dataRequestTypes as |_i reqtype|}}
        <option value={{reqtype}} selected={{eq buffer.initialInformation reqtype}}>{{t (concat 'ticket.dataCategory.' reqtype)}}</option>
      {{/each-in}}
    </select>
  {{/validated-input}}

  {{#validated-input
    class="pt4" inputId='ticket-background-data'
    label=(t 'ticket.backgroundData.label')
    desc=(t 'ticket.backgroundData.desc')
    required=true
    buffer=buffer
    property='background' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-sources-data'
    label=(t 'ticket.sourcesData.label')
    desc=(t 'ticket.sourcesData.desc')
    buffer=buffer
    property='sources' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}
</div>
