<div class="fieldGroup fieldGroup--bordered">
  <div class="l-constrain">
    <h2 class="fieldGroup-title">{{t 'ticket.kind.data_request.name'}}</h2>

    {{#validated-field
      class="formGroup"
      errors=buffer.displayErrors.initialInformation
      didValidate=didValidate as |field|}}

      <label for="ticket-category">{{t 'ticket.dataCategory.label'}} <span class="t-danger">*</span></label>
      <select onchange={{action (mut buffer.initialInformation) value="target.value"}} onblur={{action field.triggerValidations}} class="formControl" id="ticket-category">
        <option value="">{{t 'dropdownBlank'}}</option>
        {{#each-in dataRequestTypes as |_i reqtype|}}
          <option value={{reqtype}} selected={{eq buffer.initialInformation reqtype}}>{{t (concat 'ticket.dataCategory.' reqtype)}}</option>
        {{/each-in}}
      </select>

      {{#if field.showErrors}}
        {{#each field.errors as |error|}}
          <div class="formFeedback">{{error}}</div>
        {{/each}}
      {{/if}}

    {{/validated-field}}

    {{#validated-field
      class="formGroup"
      errors=buffer.displayErrors.background
      didValidate=didValidate as |field|}}

      <label class="db" for="ticket-background-data">{{t 'ticket.backgroundData.label'}} <span class="t-danger">*</span></label>
      <small class="light-silver">{{t 'ticket.backgroundData.desc'}}</small>
      {{#form-create-ticket/markdown-toggle tagName='' value=buffer.background}}
        {{textarea rows=5 value=buffer.background class="formControl mt2" id="ticket-background-data" focus-out=field.triggerValidations}}
      {{/form-create-ticket/markdown-toggle}}

      {{#if field.showErrors}}
        {{#each field.errors as |error|}}
          <div class="formFeedback">{{error}}</div>
        {{/each}}
      {{/if}}
    {{/validated-field}}

    {{#validated-field
     class="formGroup"
     errors=buffer.displayErrors.sources
     didValidate=didValidate as |field|}}

      <label class="db" for="ticket-sources-data">{{t 'ticket.sourcesData.label'}}</label>
      {{#form-create-ticket/markdown-toggle tagName='' value=buffer.sources}}
        {{textarea rows=3 value=buffer.sources class="formControl mt2" id="ticket-sources-data" focus-out=field.triggerValidations}}
      {{/form-create-ticket/markdown-toggle}}

      {{#if field.showErrors}}
        {{#each field.errors as |error|}}
          <div class="formFeedback">{{error}}</div>
        {{/each}}
      {{/if}}

    {{/validated-field}}
  </div>
</div>
