<div class="mw7 center pv4 ph4 bt b--light-gray">
  <h2 class="normal mb4">{{t 'pods.new.form.requestDetails'}}</h2>

  {{#validated-input
    inputId='ticket-deadline'
    label=(t 'ticket.deadline.label')
    desc=(t 'ticket.deadline.desc')
    buffer=buffer
    property='deadlineAt' as |vi errors|
  }}
    {{input-date
      id=vi.inputId
      class='db w-100 ba br1 pa2 b--moon-gray'
      value=(changeset-get buffer vi.property)
      onSelect=(action (changeset-set buffer vi.property) value='date')
      center=minimumDeadline
      minDate=minimumDeadline
    }}
  {{/validated-input}}

  <div class="pt4">
    <label>
      {{input type="checkbox" checked=buffer.sensitive id="ticket-sensitive"}}
      {{t 'ticket.sensitive.label'}}
    </label>

    {{#if buffer.sensitive}}
      {{#validated-input
        class='light-silver'
        inputId='ticket-whysensitive'
        label=(t 'ticket.whysensitive.label')
        buffer=buffer
        property='whysensitive' as |vi errors|
      }}
        {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
          {{textarea
            rows=5
            class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
            id=vi.inputId
            value=(mut (get buffer vi.property))
            focus-out=(action 'validateProperty' buffer vi.property target=vi)
          }}
        {{/form-create-ticket/markdown-toggle}}
      {{/validated-input}}
    {{/if}}
  </div>
</div>
