<div class="filters">
  <div class="filters-main">
    {{yield}}
  </div>
  <div class="filters-secondary">
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-kind" as |dd|}}
        {{#dd.trigger}}{{t 'ticket.kind' count=1}}{{/dd.trigger}}
        {{#dd.body headerText=(t 'filters.kind.title')}}
          <div class="list">
            {{#each kindList as |value|}}
              <a href {{action (pipe (action updateFilter 'kind' value) dd.close)}} class="list-item {{if (eq kind value) "is-active"}}" data-test-kind-option={{value}}>
                {{~icon-by-kind value class="icon--lg"}}
                {{t (concat 'ticket.kind.' value '.name')}}
              </a>
            {{/each}}
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{#if (can "manage tickets")}}
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-country" as |dd|}}
        {{#dd.trigger}}{{t 'ticket.country' count=1}}{{/dd.trigger}}
        {{#dd.body headerText=(t 'filters.country.title')}}
          {{search-countries
            current=country
            onSelect=(pipe-action (action updateFilter 'country') dd.close)}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-requester" as |dd|}}
        {{#dd.trigger}}{{t 'ticket.requester' count=1}}{{/dd.trigger}}
        {{#dd.body headerText=(t 'filters.requester.title')}}
          {{search-users
            task=searchRequesters
            current=(array requester)
            onSelect=(pipe-action (action 'applyRequester') dd.close)}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-responder" as |dd|}}
        {{#dd.trigger}}{{t 'ticket.responder' count=1}}{{/dd.trigger}}
        {{#dd.body headerText=(t 'filters.responder.title')}}
          {{#search-users
            task=searchStaff
            current=(array responder)
            onSelect=(pipe-action (action 'applyResponder') dd.close)
          }}
            <a href class="list-item list-item--special {{if (eq responder "none") "is-active"}}" {{action (pipe (action 'applyResponder' "none") dd.close)}} data-test-filter-static-option="none">
              {{t 'filters.responder.emptyOption'}}
            </a>
          {{/search-users}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{/if}}
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="sort" as |dd|}}
        {{#dd.trigger}}{{t 'filters.sort.label'}}{{/dd.trigger}}
        {{#dd.body headerText=(t 'filters.sort.title')}}
          <div class="list">
            {{#each-in sortFields as |key label|}}
              <a href {{action (pipe (action updateFilter 'sort' key) dd.close)}} class="list-item {{if (eq sort key) "is-active"}}" data-test-sort-option={{key}}>{{label}}</a>
            {{/each-in}}
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
  </div>
</div>

