<div class="filters">
  <div class="filters-main">
    {{yield}}
  </div>
  <div class="filters-secondary">
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-kind" as |dd|}}
        {{#dd.trigger}}Type <b class="arrow"></b>{{/dd.trigger}}
        {{#dd.body headerText="Filter by type"}}
          <div class="list">
            <a href {{action (pipe (action updateFilter 'kind' null) dd.close)}} class="list-item {{if (eq kind null) "is-active"}}">All</a>

            {{#each-in kindMap as |key props|}}
              <a href {{action (pipe (action updateFilter 'kind' key) dd.close)}} class="list-item {{if (eq kind key) "is-active"}}" data-test-kind-option={{key}}>
                <span class="iconContainer"><i class="fa {{props.icon}}"></i></span>
                <span class="iconText">{{props.name}}</span>
              </a>
            {{/each-in}}
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{#if (can "manage tickets")}}
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-requester" as |dd|}}
        {{#dd.trigger}}Requester <b class="arrow"></b>{{/dd.trigger}}
        {{#dd.body headerText="Filter by requester"}}
          {{search-users
            task=searchRequesters
            current=requester
            onSelect=(pipe-action (action 'applyRequester') dd.close)}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="filter-responder" as |dd|}}
        {{#dd.trigger}}Responder <b class="arrow"></b>{{/dd.trigger}}
        {{#dd.body headerText="Filter by who's assigned"}}
          {{#search-users
            task=searchStaff
            current=responder
            onSelect=(pipe-action (action 'applyResponder') dd.close)
          }}
            <a href class="list-item list-item--special {{if (eq responder "none") "is-active"}}" {{action (pipe (action 'applyResponder' "none") dd.close)}} data-test-filter-static-option="none">Assigned to nobody</a>
          {{/search-users}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{/if}}
    <div class="filters-item">
      {{#ui-dropdown data-test-dd="sort" as |dd|}}
        {{#dd.trigger}}Sort <b class="arrow"></b>{{/dd.trigger}}
        {{#dd.body headerText="Sort by"}}
          <div class="list">
            {{#each-in sortFields as |key label|}}
              <a href {{action (pipe (action updateFilter 'sort' key) dd.close)}} class="list-item {{if (eq sort key) "is-active"}}" data-test-sort-option={{key}}>{{label}}</a>
            {{/each-in}}
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
  </div>
</div>

