<div class="ticketList">
{{#each data as |item|}}

  <div class="ticket ticket--{{item.kind}}" data-test-ticket={{item.id}}>

    <div class="ticket-cell ticket-icon">
      {{ticket-icon item.kind}}
    </div>

    <div class="ticket-cell ticket-body">
      <h4 class="ticket-name" data-test-ticket-name>
        {{#link-to "view" item.id}}{{item.displayName}}{{/link-to}}
      </h4>
      
      <p>
        {{t 'ticket.updatedAt.prefix'}}
        <time datetime={{item.updatedAt}} title={{moment-format item.updatedAt 'LLL'}}>
          {{moment-from-now item.updatedAt}}
        </time>
        {{#if (can "manage tickets")}}
          &bull;
          {{#link-to 'browse' (query-params requester=item.requester.id page=1) class="t-darkLink"}}
            {{item.requester.displayName}}
          {{/link-to}}
        {{/if}}
      </p>
    </div>

    <div class="ticket-cell ticket-addon text-right">
      {{#if (and updateResponder.isRunning (eq updateResponder.last.args.[0] item))}}
        {{ui-spinner}}
      {{else}}
        <p class="ticket-status">
          {{status-label item.status data-test-ticket-status}}
        </p>
        {{#if (and (can "manage tickets") item.responders.length)}}
          {{ticket-responders data-test-ticket-responders data=item.responders class="ticket-responders"}}
        {{/if}}
      {{/if}}
    </div>

    {{#if (can "manage tickets")}}
    <div class="ticket-cell ticket-actions">
      {{#ui-dropdown data-test-dd="quick-assign-responder" as |dd|}}
        {{#dd.trigger}}
          <button class="iconButton iconButton--dimmed"><i class="fa fa-user-plus" /></button>
        {{/dd.trigger}}
        {{#dd.body headerText=(t 'actions.assign.longForm')}}
          {{search-users
            task=searchStaff
            current=item.responderIds
            onSelect=(pipe-action (action 'selectUser' item) dd.close)
            class="text-left"}}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{/if}}

    <div class="ticket-cell ticket-dates">
      <p>
        <time datetime={{item.createdAt}} title={{moment-format item.createdAt 'LLL'}}>
          {{moment-format item.createdAt}}
        </time>
      </p>
      {{#if item.deadlineAt}}
        <p class="ticket-deadline">
          {{t 'ticket.deadline.prefix'}}
          <time datetime={{item.deadlineAt}} title={{moment-format item.deadlineAt 'LLL'}}>
            {{moment-from-now item.deadlineAt}}
          </time>
        </p>
      {{/if}}
    </div>

  </div>

{{/each}}
</div>