<div class="ticketList">
{{#each data as |item|}}

  <div class="ticket ticket--{{item.kind}}" data-test-ticket={{item.id}}>

    <div class="ticket-cell ticket-icon">
      {{icon-by-kind item.kind class="icon--lg"}}
    </div>

    <div class="ticket-cell ticket-body">
      <h4 class="ticket-name" data-test-ticket-name>
        {{#link-to "view" item.id}}{{item.displayName}}{{/link-to}}
      </h4>

      <p class="ticket-updated">
        {{#if (can "resolve tickets")}}
          {{#if (can "manage tickets")}}
            {{#link-to 'browse' (query-params requester=item.requester.id page=1) class="link-muted t-bold"}}
              {{~item.requester.displayName~}}
            {{/link-to}}
          {{else}}
            <strong class="t-muted">{{~item.requester.displayName~}}</strong>
          {{/if}}
          {{#if item.country}}
            <span class="ml-2">
              {{icon 'location'}}
              <span title="{{item.country}}">{{country-name item.country}}</span>
            </span>
          {{/if}}
        {{else}}
          <span>
            {{t 'ticket.updatedAt'}}
            {{timestamp-full item.updatedAt}}
          </span>
        {{/if}}

      </p>
    </div>

    <div class="ticket-cell ticket-addon t-right">
      {{#if (and updateResponder.isRunning (eq updateResponder.last.args.[0] item))}}
        {{ui-spinner}}
      {{else}}
        <p class="ticket-status">
          {{status-label item.status data-test-ticket-status}}
        </p>
        {{#if (and (can "manage tickets") item.responders.length)}}
          {{ticket-responders data-test-ticket-responders data=item.responders class="ticket-responders"}}
        {{/if}}
      {{/if}}
    </div>

    {{#if (can "manage tickets")}}
    <div class="ticket-cell ticket-actions">
      {{#ui-dropdown data-test-dd="quick-assign-responder" as |dd|}}
        {{#dd.trigger class="button button--icon button--dark"}}
          {{~icon "clippy" class="icon--lg"~}}
        {{/dd.trigger}}
        {{#dd.body headerText=(t 'actions.assign.longForm')}}
          {{search-users
            task=searchStaff
            current=item.responderIds
            onSelect=(pipe-action (action 'selectUser' item) dd.close)
          }}
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
    {{/if}}

    <div class="ticket-cell ticket-dates">
      <p>{{timestamp-date item.createdAt}}</p>
      {{#if item.deadlineAt}}
        <p class="ticket-deadline">
          {{t 'ticket.deadline.prefix' relativeTime=(moment-from-now item.deadlineAt)}}
        </p>
      {{/if}}
    </div>

  </div>

{{/each}}
</div>
