<a class="button button--bordered button--accent" {{action (mut isShowingModal) true}}>
  {{t 'pods.view.close.button' verb=activityType}}
</a>

{{#if isShowingModal}}
{{#ui-modal onClose=(action (mut isShowingModal) false)}}
  <div class="modal-content">
  <div class="modal-body">

    <div class="modal-message">
      <h4>{{t 'pods.view.close.title' verb=activityType}}</h4>
    </div>
    <div class="modal-actions modal-actions--center">
      <button class="button button--bordered button--accent" {{action (mut isShowingModal) false}}>
        {{t 'pods.view.close.cancel'}}
      </button>
      <button class="button button--primary" {{action 'save'}}>
        {{t 'pods.view.close.confirm' verb=activityType}}
      </button>
    </div>

  </div>
  </div>
{{/ui-modal}}
{{/if}}