<div class="editableList-controls {{if isExpanded 'is-expanded'}}">
  <button class="iconButton iconButton--dimmed" {{action (toggle "isExpanded" this)}}>
    <i class="fa fa-times" />
  </button>
  <button class="button button--micro button--primary" tabindex="{{unless isExpanded -1}}" {{action onRemove}}>{{t 'actions.remove'}}</button>
</div>
<div class="editableList-content">
  {{yield}}
</div>