<div class="editableList-controls {{if isExpanded 'is-expanded'}}">
  <button class="button button--icon button--dark" {{action (toggle "isExpanded" this)}}>
    {{~icon "x"~}}
  </button>
  <button class="button button--micro button--primary" tabindex="{{unless isExpanded -1}}" {{action onRemove}} data-test-el-remove>
    {{~t 'actions.remove'~}}
  </button>
</div>
<div class="editableList-content" data-test-el-item>
  {{yield}}
</div>