{{ticket-sections model=model}}

<div class="pv4 flex justify-between bb b--near-white">
  <div class="w-30">
    {{view/ticket/requester-card model=model.requester}}
  </div>
  <div class="flex justify-between w-60">
    <div class="w-45">
      {{view/ticket/dates-card model=model}}
    </div>
    <div class="w-45">
      {{view/ticket/status-card model=model}}

      {{view/ticket/priority-card model=model}}
    </div>
  </div>
</div>

<div class="pv4 flex justify-between bb b--near-white">
  {{#if (eq model.kind kindList.[0])}}
    <div class="w-30">
      {{view/ticket/generic-card testSel='born-at' title=(t 'ticket.bornAt.label') content=(moment-format model.bornAt 'LL')}}
      {{view/ticket/generic-card testSel='identifier' title=(t 'ticket.identifierPerson.label') content=model.identifier}}
      {{view/ticket/generic-card testSel='country' title=(t 'ticket.countryPerson.label') content=(country-name model.country)}}
      {{view/ticket/generic-card title=(t 'ticket.sourcesPerson.label') content=model.sources}}
      {{view/ticket/generic-card title=(t 'ticket.connectionsPerson.label') content=model.connections}}
      {{view/ticket/generic-card title=(t 'ticket.businessActivities.label') content=model.businessActivities}}
    </div>
    <div class="w-60">
      {{view/ticket/generic-card testSel='background' title=(t 'ticket.background.label') content=model.background}}
      {{view/ticket/generic-card title=(t 'ticket.initialInformation.label') content=model.initialInformation}}
    </div>
  {{else if (eq model.kind kindList.[1])}}
    <div class="w-30">
      {{view/ticket/generic-card testSel='identifier' title=(t 'ticket.identifierCompany.label') content=model.identifier}}
      {{view/ticket/generic-card testSel='country' title=(t 'ticket.country.label') content=(country-name model.country)}}
      {{view/ticket/generic-card title=(t 'ticket.sources.label') content=model.sources}}
      {{view/ticket/generic-card title=(t 'ticket.connections.label') content=model.connections}}
    </div>
    <div class="w-60">
      {{view/ticket/generic-card testSel='background' title=(t 'ticket.backgroundCompany.label') content=model.background}}
    </div>
  {{else if (eq model.kind kindList.[2])}}
    <div class="w-30">
      {{view/ticket/generic-card testSel='identifier' title=(t 'ticket.identifierVehicle.label') content=model.identifier}}
      {{view/ticket/generic-card testSel='country' title=(t 'ticket.countryVehicle.label') content=(country-name model.country)}}
    </div>
    <div class="w-60">
      {{view/ticket/generic-card testSel='background' title=(t 'ticket.backgroundVehicle.label') content=model.background}}
    </div>
  {{else if (eq model.kind kindList.[3])}}
    <div class="w-30">
      {{view/ticket/generic-card title=(t 'ticket.sources.label') content=model.sources}}
    </div>
    <div class="w-60">
      {{view/ticket/generic-card testSel='background' title=(t 'ticket.backgroundData.label') content=model.background}}
    </div>
  {{else}}
    <div class="w-30">
      &mdash;
    </div>
    <div class="w-60">
      {{view/ticket/generic-card testSel='background' title=(t 'ticket.backgroundOther.label') content=model.background}}
    </div>
  {{/if}}
</div>

<div class="pv4 flex justify-between">
  <div class="w-30">
    {{#if model.sensitive}}
      {{view/ticket/sensitive-card model=model}}
    {{/if}}
  </div>

  <div class="flex justify-between w-60">
    <div class="w-45">
      {{view/ticket/subscribers-card model=model}}
    </div>

    <div class="w-45">
      {{view/ticket/responders-card model=model}}
    </div>
  </div>
</div>

<div class="pv4">
  {{#activity-list model=model as |list|}}
    {{#if model.isOpen}}
      {{activity-form model=model}}
    {{/if}}
  {{/activity-list}}
</div>
