{{#with (changeset model validations) as |buffer|}}
  <form {{action 'save' buffer on='submit'}}>
    <div class="flex ttu items-center justify-between bb b--moon-gray">
      {{#each kindList key=@index as |selectedKind| }}
        <div class="dib mb0 pb2 pointer {{if (eq model.kind selectedKind) "b bw2 bb b--occrp-gray"}}" data-test-kind-tab={{selectedKind}} {{action (mut model.kind) selectedKind}}>
          {{icon-by-kind selectedKind}}
          <span>{{t (concat 'ticket.kind.' selectedKind '.name')}}</span>
        </div>
      {{/each}}
    </div>

    {{#if (eq model.kind kindList.[0])}}
      {{form-create-ticket/fields-person-ownership buffer=buffer today=today countries=countries}}
    {{else if (eq model.kind kindList.[1])}}
      {{form-create-ticket/fields-company-ownership buffer=buffer countries=countries}}
    {{else if (eq model.kind kindList.[2])}}
      {{form-create-ticket/fields-vehicle-tracking buffer=buffer countries=countries}}
    {{else if (eq model.kind kindList.[3])}}
      {{form-create-ticket/fields-data-request buffer=buffer dataRequestTypes=dataRequestTypes}}
    {{else}}
      {{form-create-ticket/fields-other buffer=buffer}}
    {{/if}}

    {{form-create-ticket/fields-generic buffer=buffer minimumDeadline=minimumDeadline}}

    {{form-create-ticket/fields-member-center buffer=buffer memberCenters=session.currentUserMeta.memberCenters}}

    <div class="mw7 center pv4 ph4 bt b--light-gray">
      <p class="mb4">
        {{icon 'info' class='nb-2'}}
        {{t 'pods.new.form.uploadInfo'}}
      </p>

      {{#if saveRecord.last.error}}
        <p class="mb4 dark-red" data-test-submit-error>
          {{icon "alert"}}
          {{t 'errors.genericRequest'}}
        </p>
      {{/if}}

      <button
        type="submit"
        disabled={{saveRecord.isRunning}}
        class="db ttu b white bg-occrp-red bn br2 pointer dim ph3 pv2"
        data-test-save
      >{{t 'pods.new.form.submitButton'}}</button>

      {{#if saveRecord.isRunning}}
        {{ui-spinner}}
      {{/if}}
    </div>
  </form>
{{/with}}
