<form {{action "save" on="submit"}}>

  <p class="h4 subtitle t-dimmed text-center">Your request will be routed to our professional researchers, who will try to help.</p>

  <div class="tabs">
    <label class="tabs-item {{if (eq buffer.kind kindList.[0]) "is-active"}}" data-test-kind-tab="person">
      {{radio-button
        name="ticket-kind"
        value=kindList.[0]
        groupValue=buffer.kind
        changed=(action 'changeKind')}}
      <i class="fa fa-user"></i>
      <span>Identify what a person owns</span>
    </label>
    <label class="tabs-item {{if (eq buffer.kind kindList.[1]) "is-active"}}" data-test-kind-tab="company">
      {{radio-button
        name="ticket-kind"
        value=kindList.[1]
        groupValue=buffer.kind
        changed=(action 'changeKind')}}
      <i class="fa fa-building"></i>
      <span>Determine company ownership</span>
    </label>
    <label class="tabs-item {{if (eq buffer.kind kindList.[2]) "is-active"}}" data-test-kind-tab="other">
      {{radio-button
        name="ticket-kind"
        value=kindList.[2]
        groupValue=buffer.kind
        changed=(action 'changeKind')}}
      <i class="fa fa-question"></i>
      <span>Any other question</span>
    </label>
  </div>

  <div class="fieldGroup fieldGroup--bordered">

    <div class="l-constrain">
    {{#if (eq buffer.kind kindList.[0])}}

      <h2 class="fieldGroup-title">Identify what a person owns</h2>

      {{#validated-field class="form-group" validation=buffer.validations.attrs.firstName didValidate=didValidate as |field|}}
        <label for="ticket-first-name">First name <span class="text-danger">*</span></label>
        {{input value=buffer.firstName class="form-control" id="ticket-first-name" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "firstName" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.lastName didValidate=didValidate as |field|}}
        <label for="ticket-last-name">Last name <span class="text-danger">*</span></label>
        {{input value=buffer.lastName class="form-control" id="ticket-last-name" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "lastName" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.background didValidate=didValidate as |field|}}
        <label for="ticket-background">Your story <span class="text-danger">*</span></label>
        <p class="info-block">What do you know so far?</p>
        {{textarea rows=5 value=buffer.background class="form-control" id="ticket-background" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "background" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.initialInformation didValidate=didValidate as |field|}}
        <label for="ticket-initialInformation">Where have you looked? <span class="text-danger">*</span></label>
        <p class="info-block">Any information you already have.</p>
        {{textarea rows=5 value=buffer.initialInformation class="form-control" id="ticket-initialInformation" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "initialInformation" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      <h2 class="fieldGroup-title">Other details</h2>

      <div class="form-group">
        <label for="ticket-born-at">Date of birth</label>

        {{input-date value=buffer.bornAt onSelect=(action (mut buffer.bornAt) value="date") inputId="ticket-born-at" maxDate=today}}
      </div>


      <div class="form-group">
        <label for="ticket-aliases">Aliases</label>
        <p class="info-block">Other spellings or cover names.</p>
        {{textarea rows=3 value=buffer.aliases class="form-control" id="ticket-aliases"}}
      </div>


      <div class="form-group">
        <label for="ticket-family">Family And Associates</label>
        <p class="info-block">Known family relationships.</p>
        {{textarea rows=3 value=buffer.family class="form-control" id="ticket-family"}}
      </div>

      <div class="form-group">
        <label for="ticket-businessActivities">Business Activities</label>
        {{textarea rows=3 value=buffer.businessActivities class="form-control" id="ticket-businessActivities"}}
      </div>

    {{else if (eq buffer.kind kindList.[1])}}

      <h2 class="fieldGroup-title">Determine company ownership</h2>

      {{#validated-field class="form-group" validation=buffer.validations.attrs.companyName didValidate=didValidate as |field|}}
        <label for="ticket-companyName">Company name <span class="text-danger">*</span></label>
        {{input value=buffer.companyName class="form-control" id="ticket-companyName" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "companyName" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.country didValidate=didValidate as |field|}}
        <label for="ticket-country">Country registered <span class="text-danger">*</span></label>
        <select onchange={{action (mut buffer.country) value="target.value"}} onblur={{action field.triggerValidations}} class="form-control" id="ticket-country">
          <option value="">- Choose -</option>
          {{#each-in countries as |code name|}}
            <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
          {{/each-in}}
        </select>

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "country" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.companyBackground didValidate=didValidate as |field|}}
        <label for="ticket-companyBackground">Your story <span class="text-danger">*</span></label>
        <p class="info-block">What do you know so far?</p>
        {{textarea rows=5 value=buffer.companyBackground class="form-control" id="ticket-companyBackground" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "companyBackground" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      {{#validated-field class="form-group" validation=buffer.validations.attrs.sources didValidate=didValidate as |field|}}
        <label for="ticket-sources">Where have you looked? <span class="text-danger">*</span></label>
        <p class="info-block">What sources do you have so far?</p>
        {{textarea rows=5 value=buffer.sources class="form-control" id="ticket-sources" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "sources" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      <h2 class="fieldGroup-title">Other details</h2>

      <div class="form-group">
        <label for="ticket-connections">Connections to other companies and people</label>
        {{textarea rows=3 value=buffer.connections class="form-control" id="ticket-connections" focus-out=field.triggerValidations}}
      </div>

    {{else}}

      <h2 class="fieldGroup-title">Any other question</h2>

      {{#validated-field class="form-group" validation=buffer.validations.attrs.question didValidate=didValidate as |field|}}
        <label for="ticket-question">What Do You Want To Know? <span class="text-danger">*</span> </label>
        <p class="info-block">Any information you already have.</p>
        {{textarea rows=7 value=buffer.question class="form-control" id="ticket-question"}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get buffer "question" "message"}}</div>
        {{/if}}
      {{/validated-field}}

    {{/if}}
    </div>

  </div>

  <div class="fieldGroup fieldGroup--bordered">
    <div class="l-constrain">

    <h2 class="fieldGroup-title">Request details</h2>

    <div class="form-group">
      <label for="ticket-deadline">Deadline</label>
      <p class="info-block">We will try to meet your deadline, but please note that our researchers are quite busy. <br />Give them as much time as you possibly can!</p>
      {{input-date value=buffer.deadlineAt onSelect=(action (mut buffer.deadlineAt) value="date") inputId="ticket-deadline" minDate=today}}
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=buffer.sensitive id="ticket-sensitive"}}
          <strong>Is it sensitive?</strong>
        </label>
      </div>
    </div>

    {{#if buffer.sensitive}}
      <div class="form-group">
        <label for="ticket-whySensitive">Why is it sensitive?</label>
        {{textarea rows=3 value=buffer.whySensitive class="form-control" id="ticket-whySensitive"}}
      </div>
    {{/if}}

    </div>
  </div>

  <div class="fieldGroup">
    <div class="l-constrain">
      {{#if (and didValidate buffer.validations.isInvalid)}}
        <div class="alert alert-danger" data-test-validation-errors>
          Please fill in the fields marked above before continuing.
        </div>
      {{/if}}
      <button type="submit" class="button button--primary" data-test-save>Submit your request</button>
    </div>
  </div>
</form>

