<form {{action "save" on="submit"}}>

  <div class="mb-4 flex ttu items-center justify-between">
    {{#each kindList key=@index as |selectedKind| }}
      <label class="pb2 pointer {{if (eq buffer.kind selectedKind) "b bw2 bb b--occrp-gray"}}" data-test-kind-tab="{{selectedKind}}">
        {{radio-button
          radioClass="visibility-hidden w0 h0 absolute"
          name="ticket-kind"
          value=selectedKind
          groupValue=buffer.kind
          changed=(action 'changeKind')}}
        {{icon-by-kind selectedKind}}
        <span>{{t (concat 'ticket.kind.' selectedKind '.name')}}</span>
      </label>
    {{/each}}
  </div>

  <div class="fieldGroup fieldGroup--bordered">

    <div class="l-constrain">
    {{#if (eq buffer.kind kindList.[0])}}

      <h2 class="fieldGroup-title">{{t (concat 'ticket.kind.' kindList.[0] '.name')}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.firstName
        didValidate=didValidate as |field|}}

        <label for="ticket-first-name">{{t 'ticket.firstName.label'}} <span class="t-danger">*</span></label>
        {{input value=buffer.firstName class="formControl" id="ticket-first-name" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.lastName
        didValidate=didValidate as |field|}}

        <label for="ticket-last-name">{{t 'ticket.lastName.label'}} <span class="t-danger">*</span></label>
        {{input value=buffer.lastName class="formControl" id="ticket-last-name" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      <div class="formGroup">
        <label for="ticket-identifier">{{t 'ticket.identifierPerson.label'}}</label>
        {{input value=buffer.identifier class="formControl" id="ticket-identifier"}}
      </div>

      <div class="formGroup">
        <label for="ticket-nationality">{{t 'ticket.countryPerson.label'}}</label>
        <select onchange={{action (mut buffer.country) value="target.value"}} class="formControl" id="ticket-nationality">
          <option value="">- Choose -</option>
          {{#each-in countries as |code name|}}
            <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
          {{/each-in}}
        </select>
      </div>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.background
        didValidate=didValidate as |field|}}

        <label for="ticket-background">{{t 'ticket.background.formLabel'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.background.desc'}}</small>
        {{textarea rows=5 value=buffer.background class="formControl" id="ticket-background" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.initialInformation
       didValidate=didValidate as |field|}}

        <label for="ticket-initialInformation">{{t 'ticket.initialInformation.formLabel'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.initialInformation.desc'}}</small>
        {{textarea rows=5 value=buffer.initialInformation class="formControl" id="ticket-initialInformation" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      <h2 class="fieldGroup-title">{{t 'pods.new.form.otherDetails'}}</h2>

      <div class="formGroup">
        <label for="ticket-born-at">{{t 'ticket.bornAt.label'}}</label>

        {{input-date value=buffer.bornAt onSelect=(action (mut buffer.bornAt) value="date") id="ticket-born-at" maxDate=today class="formControl"}}
      </div>

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.sources
       didValidate=didValidate as |field|}}

       <label for="ticket-sources-person">{{t 'ticket.sourcesPerson.label'}}</label>
        <small class="formText t-muted">{{t 'ticket.sourcesPerson.desc'}}</small>
        {{textarea rows=3 value=buffer.sources class="formControl" id="ticket-sources-person" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.connections
       didValidate=didValidate as |field|}}

        <label for="ticket-connections-person">{{t 'ticket.connectionsPerson.label'}}</label>
        <small class="formText t-muted">{{t 'ticket.connectionsPerson.desc'}}</small>
        {{textarea rows=3 value=buffer.connections class="formControl" id="ticket-connections-person" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.businessActivities
       didValidate=didValidate as |field|}}

        <label for="ticket-businessActivities">{{t 'ticket.businessActivities.label'}}</label>
        {{textarea rows=3 value=buffer.businessActivities class="formControl" id="ticket-businessActivities" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

    {{else if (eq buffer.kind kindList.[1])}}

      <h2 class="fieldGroup-title">{{t (concat 'ticket.kind.' kindList.[1] '.name')}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.companyName
        didValidate=didValidate as |field|}}

        <label for="ticket-companyName">{{t 'ticket.companyName.label'}} <span class="t-danger">*</span></label>
        {{input value=buffer.companyName class="formControl" id="ticket-companyName" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      <div class="formGroup">
        <label for="ticket-identifier">{{t 'ticket.identifierCompany.label'}}</label>
        {{input value=buffer.identifier class="formControl" id="ticket-identifier"}}
      </div>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.country
        didValidate=didValidate as |field|}}

        <label for="ticket-country">{{t 'ticket.country.label'}} <span class="t-danger">*</span></label>
        <select onchange={{action (mut buffer.country) value="target.value"}} onblur={{action field.triggerValidations}} class="formControl" id="ticket-country">
          <option value="">- Choose -</option>
          {{#each-in countries as |code name|}}
            <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
          {{/each-in}}
        </select>

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.background
        didValidate=didValidate as |field|}}

        <label for="ticket-background-company">{{t 'ticket.backgroundCompany.formLabel'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.backgroundCompany.desc'}}</small>
        {{textarea rows=5 value=buffer.background class="formControl" id="ticket-background-company" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.sources
        didValidate=didValidate as |field|}}

        <label for="ticket-sources">{{t 'ticket.sources.formLabel'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.sources.desc'}}</small>
        {{textarea rows=5 value=buffer.sources class="formControl" id="ticket-sources" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      <h2 class="fieldGroup-title">{{t 'pods.new.form.otherDetails'}}</h2>

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.connections
       didValidate=didValidate as |field|}}

        <label for="ticket-connections">{{t 'ticket.connections.formLabel'}}</label>
        {{textarea rows=3 value=buffer.connections class="formControl" id="ticket-connections" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

    {{else if (eq buffer.kind kindList.[2])}}

      <h2 class="fieldGroup-title">{{t (concat 'ticket.kind.' kindList.[2] '.name')}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.identifier
        didValidate=didValidate as |field|}}

        <label for="ticket-identifier-vehicle">{{t 'ticket.identifierVehicle.label'}} <span class="t-danger">*</span></label>
        {{input rows=5 value=buffer.identifier class="formControl" id="ticket-identifier-vehicle" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.country
        didValidate=didValidate as |field|}}

        <label for="ticket-country-vehicle">{{t 'ticket.countryVehicle.label'}} <span class="t-danger">*</span></label>
        <select onchange={{action (mut buffer.country) value="target.value"}} onblur={{action field.triggerValidations}} class="formControl" id="ticket-country-vehicle">
          <option value="">{{t 'dropdownBlank'}}</option>
          {{#each-in countries as |code name|}}
            <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
          {{/each-in}}
        </select>

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.background
        didValidate=didValidate as |field|}}

        <label for="ticket-background-vehicle">{{t 'ticket.backgroundVehicle.label'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.backgroundVehicle.desc'}}</small>
        {{textarea rows=5 value=buffer.background class="formControl" id="ticket-background-vehicle" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

    {{else if (eq buffer.kind kindList.[3])}}

      <h2 class="fieldGroup-title">{{t (concat 'ticket.kind.' kindList.[3] '.name')}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.initialInformation
        didValidate=didValidate as |field|}}

        <label for="ticket-category">{{t 'ticket.dataCategory.label'}} <span class="t-danger">*</span></label>
        <select onchange={{action (mut buffer.initialInformation) value="target.value"}} onblur={{action field.triggerValidations}} class="formControl" id="ticket-category">
          <option value="">{{t 'dropdownBlank'}}</option>
          {{#each-in dataRequestTypes as |_i reqtype|}}
            <option value={{reqtype}} selected={{eq buffer.initialInformation reqtype}}>{{t (concat 'ticket.dataCategory.' reqtype)}}</option>
          {{/each-in}}
        </select>

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.background
        didValidate=didValidate as |field|}}

        <label for="ticket-background-data">{{t 'ticket.backgroundData.label'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.backgroundData.desc'}}</small>
        {{textarea rows=5 value=buffer.background class="formControl" id="ticket-background-data" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}
      {{/validated-field}}

      {{#validated-field
       class="formGroup"
       errors=buffer.displayErrors.sources
       didValidate=didValidate as |field|}}

       <label for="ticket-sources-data">{{t 'ticket.sourcesData.label'}}</label>
        {{textarea rows=3 value=buffer.sources class="formControl" id="ticket-sources-data" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

    {{else}}

      <h2 class="fieldGroup-title">{{t (concat 'ticket.kind.' kindList.[4] '.name')}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.background
        didValidate=didValidate
        as |field|}}

        <label for="ticket-background-other">{{t 'ticket.backgroundOther.formLabel'}} <span class="t-danger">*</span></label>
        <small class="formText t-muted">{{t 'ticket.backgroundOther.desc'}}</small>
        {{textarea rows=7 value=buffer.background class="formControl" id="ticket-background-other" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

    {{/if}}
    </div>

  </div>

  <div class="fieldGroup fieldGroup--bordered">
    <div class="l-constrain">
      <h2 class="fieldGroup-title">{{t 'pods.new.form.memberCenter'}}</h2>

      {{#validated-field
        class="formGroup"
        errors=buffer.displayErrors.memberCenter
        didValidate=didValidate as |field|}}

        <label for="ticket-member-center">{{t 'pods.new.form.memberCenterDetails'}} <span class="t-danger">*</span></label>
        {{input value=buffer.memberCenter class="formControl" id="ticket-member-center" focus-out=field.triggerValidations}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}

    </div>
  </div>

  <div class="fieldGroup fieldGroup--bordered">
    <div class="l-constrain">

    <h2 class="fieldGroup-title">{{t 'pods.new.form.requestDetails'}}</h2>

    {{#validated-field
      class="formGroup"
      errors=buffer.displayErrors.deadlineAt
      didValidate=didValidate
      as |field|}}

      <label for="ticket-deadline">{{t 'ticket.deadline.label'}}</label>
      <small class="formText t-muted">{{t 'ticket.deadline.desc'}}</small>
      {{input-date
        value=buffer.deadlineAt
        onSelect=(queue (action (mut buffer.deadlineAt) value="date") field.triggerValidations)
        id="ticket-deadline"
        center=minimumDeadline
        minDate=minimumDeadline
      }}

      {{#if field.showErrors}}
        {{#each field.errors as |error|}}
          <div class="formFeedback">{{error}}</div>
        {{/each}}
      {{/if}}

    {{/validated-field}}

    <div class="formGroup">
      <label class="customControl customControl--checkbox">
        {{input type="checkbox" class="customControl-input" checked=buffer.sensitive id="ticket-sensitive"}}
        <span class="customControl-indicator"></span>
        <span class="customControl-description">{{t 'ticket.sensitive.label'}}</span>
      </label>

      {{#if buffer.sensitive}}
        {{#validated-field
          class="mt-2 ml-5"
          errors=buffer.displayErrors.whysensitive
          didValidate=didValidate
          as |field|}}

          <label for="ticket-whysensitive" class="formText t-muted">{{t 'ticket.whysensitive.label'}}</label>
          {{textarea rows=5 value=buffer.whysensitive class="formControl" id="ticket-whysensitive" focus-out=field.triggerValidations}}

          {{#if field.showErrors}}
            {{#each field.errors as |error|}}
              <div class="formFeedback">{{error}}</div>
            {{/each}}
          {{/if}}

        {{/validated-field}}
      {{/if}}
    </div>

    </div>
  </div>

  <div class="fieldGroup">
    <div class="l-constrain">

      <p class="formText mb-4">
        {{icon "info" class="icon--lg "}}<span class="t-muted">{{t 'pods.new.form.uploadInfo'}}</span>
      </p>

      {{#if (and didValidate buffer.hasDisplayErrors)}}
        <div class="alert alert--danger t-sm mb-4" data-test-validation-errors>
          {{t 'pods.new.form.invalidMessage'}}
        </div>
      {{/if}}

      {{#if saveRecord.last.error}}
        <div class="alert alert--danger t-sm mb-4" data-test-submit-error>
          {{icon "alert"}}
          {{t 'errors.genericRequest'}}
        </div>
      {{/if}}

      <div class="fieldGroup-actions">
        <button type="submit" disabled={{saveRecord.isRunning}} class="button button--primary" data-test-save>{{t 'pods.new.form.submitButton'}}</button>

        {{#if saveRecord.isRunning}}
          {{ui-spinner}}
        {{/if}}
      </div>

    </div>
  </div>
</form>

