<div class="activity-headline">
  {{icon "person"}}
  <div>
    <strong>{{user-avatar user=data.responderUser}} {{data.responderUser.displayName}}</strong>
    {{t 'activity.assign.action'}}
    <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
      {{moment-from-now data.createdAt}}
    </time>
  </div>
</div>