<div class="activity-headline">
  {{icon "person"}}
  <div>
    <strong>{{user-avatar user=data.responderUser}}{{data.responderUser.displayName}}</strong>
    {{t 'activity.assign.action'}} &bull;
    {{timestamp-full data.createdAt}}
  </div>
</div>