{{#ui-modal-container as |m|}}

<a class="b" {{action m.toggle}} data-test-cancel>
  {{t 'pods.view.close.button' verb=activityLabel}}
</a>

{{#if m.isShowing}}
{{#ui-modal onClose=(action m.toggle)}}
  <div class="modal-content">

    <div class="modal-body t-center">
      <h4 class="t-normal my-3 t-muted">{{t 'pods.view.close.title' verb=activityLabel}}</h4>
    </div>

    <div class="modal-footer modal-footer--center modal-footer--padded">
      <button class="button buttonOutlined--secondary" {{action m.toggle}} data-test-modal-dontCancel>
        {{~t 'pods.view.close.cancel'~}}
      </button>
      <button class="button button--primary" {{action 'save' m.toggle}} data-test-modal-confirmCancel>
        {{~t 'pods.view.close.confirm' verb=activityLabel~}}
      </button>
    </div>

  </div>
{{/ui-modal}}
{{/if}}

{{/ui-modal-container}}
