<p>{{status-label model.status data-test-status}}</p>

<dl class="requestDetails">
  <dt><i class="fa fa-refresh" /> Last update</dt>
  <dd>
    <time datetime={{model.updatedAt}} title={{moment-format model.updatedAt 'LLL'}}>{{moment-from-now model.updatedAt}}</time>
  </dd>

  <dt><i class="fa fa-calendar-check-o" /> Deadline</dt>
  <dd>
    <time datetime={{model.deadlineAt}} title={{moment-format model.deadlineAt 'LLL'}}>{{moment-format model.deadlineAt 'LL'}} ({{moment-from-now model.deadlineAt}})</time>
  </dd>

  {{#if (can 'manage tickets')}}
    {{#ui-dropdown as |dd|}}
      {{#dd.trigger}}
        <button class="iconButton iconButton--dimmed"><i class="fa fa-cog" /></button>
      {{/dd.trigger}}
      {{#dd.body headerText="Assign to staff"}}
        {{search-users
          task=searchStaff
          current=model.responder.id
          onSelect=(pipe-action (action 'selectUser' model) dd.close)}}
      {{/dd.body}}
    {{/ui-dropdown}}
  {{/if}}

  <dt>Staff responders</dt>
  <dd>
    {{#if updateResponder.isRunning}}
      {{ui-spinner}}
    {{else}}
      {{#if model.responder}}
        {{model.responder.displayName}}
      {{else}}
        <span class="t-dimmed">- unassigned -</span>
      {{/if}}
    {{/if}}
  </dd>
</dl>

{{#if model.isOpen}}
  {{ticket-close model=model activityType=(if (can "manage tickets") 'close' 'cancel')}}
{{else}}
  {{ticket-reopen model=model}}
{{/if}}