<p>{{status-label model.status data-test-status}}</p>

<dl class="requestDetails">
  <dt><i class="fa fa-refresh" /> Last update</dt>
  <dd>
    <time datetime={{model.updatedAt}} title={{moment-format model.updatedAt 'LLL'}}>{{moment-from-now model.updatedAt}}</time>
  </dd>

  <dt><i class="fa fa-calendar-check-o" /> Deadline</dt>
  <dd>
    <time datetime={{model.deadlineAt}} title={{moment-format model.deadlineAt 'LLL'}}>{{moment-format model.deadlineAt 'LL'}} ({{moment-from-now model.deadlineAt}})</time>
  </dd>

  <dt>
    {{#if (can 'manage tickets')}}
      <div class="responderControls">
        {{#if (or updateResponder.isRunning removeResponder.isRunning)}}
          {{ui-spinner}}
        {{else}}
          {{#ui-dropdown as |dd|}}
            {{#dd.trigger}}
              <button class="button button--accent button--micro"><i class="fa fa-plus"></i> Assign</button>
            {{/dd.trigger}}
            {{#dd.body class="mt-5" headerText="Assign to staff"}}
              {{search-users
                task=searchStaff
                current=model.responderIds
                onSelect=(pipe-action (action 'selectUser' model) dd.close)}}
            {{/dd.body}}
          {{/ui-dropdown}}
        {{/if}}
      </div>
    {{/if}}
    Staff responders
  </dt>
  <dd>
    {{#if model.responders.length}}
      <ul class="userList">
      {{#each model.responders as |responder|}}
        {{#user-list-item class=(concat "userList-item " (if responder.isSaving "is-dimmed")) onRemove=(action 'removeUser' responder)}}
          {{responder.user.displayName}}
        {{/user-list-item}}
      {{/each}}
      </ul>
    {{else}}
      <div class="userList">No one assigned</div>
    {{/if}}
  </dd>
</dl>

{{#if model.isOpen}}
  {{ticket-close model=model activityType=(if (can "manage tickets") 'close' 'cancel') onSave=(action 'saveStatus')}}
{{else}}
  {{ticket-reopen model=model}}
{{/if}}