{{#if (and (can 'manage tickets') model.isOpen)}}

  <h3 class="t-light mb-3">{{t 'ticket.responder.label'}}</h3>

  <div class="mb-3">
    {{#if model.responders.length}}
      <ul class="editableList">
        {{#each model.responders as |responder|}}
          {{#editable-list-item class=(concat "editableList-item " (if responder.isSaving "t-muted")) onRemove=(action 'removeUser' responder)}}
            {{responder.user.displayName}}
          {{/editable-list-item}}
        {{/each}}
      </ul>
    {{else}}
      <div class="editableList">
        <div class="editableList-item editableList-item--empty">
          {{~t 'ticket.responder.empty'~}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="mb-7">
    {{#if (or updateResponder.isRunning removeResponder.isRunning)}}
      {{ui-spinner class="spinner--mimicButton mx-auto"}}
    {{else}}
      {{#ui-dropdown class="t-center" as |dd|}}
        {{#dd.trigger class="button button--sm button--primary with-caret"}}
          Add responders
        {{/dd.trigger}}
        {{#dd.body
          class="t-left mt-1"
          headerText=(t 'actions.assign.longForm')
          attachment="top right"
          targetAttachment="bottom right"
        }}
          {{search-users
            task=searchStaff
            current=model.responderIds
            onSelect=(pipe-action (action 'selectUser' model) dd.close)}}
        {{/dd.body}}
      {{/ui-dropdown}}
    {{/if}}
  </div>

{{/if}}

{{attachment-manager model=model canUpload=model.isOpen}}
