<div>
  {{#if updateStatus.isRunning}}
    {{ui-spinner class="spinner--tag"}}
  {{else}}
    {{status-label model.status data-test-status}}
  {{/if}}
</div>

<dl class="requestDetails">
  <dt><i class="fa fa-refresh" /> {{t 'ticket.updatedAt.label'}}</dt>
  <dd>
    <time datetime={{model.updatedAt}} title={{moment-format model.updatedAt 'LLL'}}>{{moment-from-now model.updatedAt}}</time>
  </dd>

  {{#if model.deadlineAt}}
    <dt><i class="fa fa-calendar-check-o" /> {{t 'ticket.deadline.label'}}</dt>
    <dd>
      <time datetime={{model.deadlineAt}} title={{moment-format model.deadlineAt 'LLL'}}>{{moment-format model.deadlineAt}} ({{moment-from-now model.deadlineAt}})</time>
    </dd>
  {{/if}}

  <dt>
    {{#if (and (can 'manage tickets') showControls)}}
      <div class="responderControls">
        {{#if (or updateResponder.isRunning removeResponder.isRunning)}}
          {{ui-spinner}}
        {{else}}
          {{#ui-dropdown as |dd|}}
            {{#dd.trigger}}
              <button class="button button--accent button--micro"><i class="fa fa-plus"></i> {{t 'actions.assign.shortForm'}}</button>
            {{/dd.trigger}}
            {{#dd.body class="mt-5" headerText=(t 'actions.assign.longForm')}}
              {{search-users
                task=searchStaff
                current=model.responderIds
                onSelect=(pipe-action (action 'selectUser' model) dd.close)}}
            {{/dd.body}}
          {{/ui-dropdown}}
        {{/if}}
      </div>
    {{/if}}
    {{t 'ticket.responder.label'}}
  </dt>
  <dd class="with-padding">
    {{#if model.responders.length}}
      <ul class="editableList">
      {{#if (and (can 'manage tickets') showControls)}}
        {{#each model.responders as |responder|}}
          {{#editable-list-item class=(concat "editableList-item " (if responder.isSaving "is-dimmed")) onRemove=(action 'removeUser' responder)}}
            {{responder.user.displayName}}
          {{/editable-list-item}}
        {{/each}}
      {{else}}
        {{#each model.responders as |responder|}}
          <div class="editableList-item">
          <div class="editableList-content">
            {{responder.user.displayName}}
          </div>
          </div>
        {{/each}}
      {{/if}}
      </ul>
    {{else}}
      <div class="editableList">{{t 'ticket.responder.empty'}}</div>
    {{/if}}
  </dd>
</dl>

{{#if (and (can "resolve tickets") model.isOpen model.responders.length)}}
  {{#if model.isPending}}
    {{ticket-unmark-pending model=model activityType='unmark' onSave=(action 'saveStatus') class="mb-20"}}
  {{else}}
    {{ticket-mark-pending model=model onSave=(action 'saveStatus' 'pending') class="mb-20"}}
  {{/if}}
{{/if}}

{{#if model.isOpen}}
  {{ticket-close model=model activityType=(if (can "resolve tickets") 'close' 'cancel') onSave=(action 'saveStatus')}}
{{else}}
  {{ticket-reopen model=model onSave=(action 'saveStatus' 'reopen')}}
{{/if}}