<div class="activity-headline">
  {{icon "person"}}
  <div>
    <strong>{{data.responderUser.displayName}}</strong>
    {{t 'activity.unassign.action'}}
    <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
      {{moment-from-now data.createdAt}}
    </time>
  </div>
</div>