{{#ui-dropdown isOpen=true data-test-dd="search-users-result" as |dd|}}
  {{#dd.trigger linkWrap=false as |ddt|}}
    <div class={{baseClassNames}}>
      {{input
        id=ddt.uuid
        class=inputClassNames
        input=(queue (action dd.open) (perform task value='target.value'))
        placeholder=(t 'profile.search.placeholder')
        autocomplete='off'
        data-test-filter-search=''
      }}
    </div>
  {{/dd.trigger}}

  {{#dd.body renderInPlace=renderInPlace}}
    <div class="list">
      {{#if task.isRunning}}
        <span class="list-item lh-copy">
          {{ui-spinner}}
        </span>
      {{else if task.lastSuccessful.value.length}}
        {{#each task.lastSuccessful.value as |user|}}
          <a
            class="list-item {{if (contains user.id current) "is-active"}}"
            {{action (pipe (action onSelect user) (action dd.close))}}
            data-test-search-result={{user.id}}
          >
            {{user.displayName}}
          </a>
        {{/each}}
      {{else if task.lastSuccessful}}
        <span class="list-item noResults">{{t 'profile.search.noResults'}}</span>
      {{/if}}

      {{yield}}
    </div>
  {{/dd.body}}
{{/ui-dropdown}}
