<div class="searchBox">
  <input type="text" class="form-control" oninput={{perform task value="target.value" }} placeholder="Search users" autocomplete="off" data-test-filter-search />
</div>

{{yield}}

{{#if task.isRunning}}
  {{ui-spinner}}
{{else}}

  {{#if task.lastSuccessful.value.length}}
    <div class="list">
      {{#each task.lastSuccessful.value as |user|}}
        <a href class="list-item {{if (eq current user.id) "is-active"}}" {{action onSelect user}} data-test-filter-option={{user.id}}>{{user.firstName}} {{user.lastName}}</a>
      {{/each}}
    </div>
  {{else if task.lastSuccessful}}
    <div class="noResults">No results found</div>
  {{/if}}
{{/if}}
