<div class="cover cover--header">
<div class="wrapper">

  {{#link-to "new" class="button button--bordered pull-right"}}
    <i class="fa fa-plus"></i>
    {{t 'pods.browse.newButton'}}
  {{/link-to}}
  <h1 class="cover-title">{{t 'pods.browse.title'}}</h1>

</div>
</div>

<div class="wrapper">

  <div class="section">

    {{#filter-nav
      kind=kind
      requester=requester
      responder=responder
      sort=sort
      updateFilter=(action 'updateFilter')}}
      <div class="innerNav">
        {{#link-to 'browse' (query-params status=statusPairs.open page=1) class=(if (contains status statusPairs.open) "active") data-test-status-tab="open"}}
          <i class="fa fa-exclamation-circle" /> {{model.meta.totalOpen}}
          {{t 'ticket.status.groups.open'}}
        {{/link-to}}
        {{#link-to 'browse' (query-params status=statusPairs.closed page=1) class=(if (contains status statusPairs.closed) "active") data-test-status-tab="closed"}}
          <i class="fa fa-check" />
          {{model.meta.totalClosed}}
          {{t 'ticket.status.groups.closed'}}
        {{/link-to}}
      </div>
    {{/filter-nav}}

    {{filter-active
      kind=kind
      requester=requester
      responder=responder
      filterMeta=filterMeta
      resetFilters=(action 'resetFilters')}}

    {{ticket-list data=model}}

    {{ui-pagination meta=model.meta route='browse'}}

  </div>

</div>

