<div class="cover cover--header">
<div class="wrapper">

  {{#link-to "new" class="button button--bordered pull-right"}}
    <i class="fa fa-plus"></i>
    New request
  {{/link-to}}
  <h1 class="cover-title">My requests</h1>

  <div class="navTabs">
    {{#link-to 'browse' (query-params status="open") class="navTabs-item"}}
      Open
      <span class="label">{{model.meta.totalOpen}}</span>
    {{/link-to}}
    {{#link-to 'browse' (query-params status="closed") class="navTabs-item"}}
      Closed
      <span class="label">{{model.meta.totalClosed}}</span>
    {{/link-to}}
  </div>

</div>
</div>

<div class="cover cover--content">
<div class="wrapper">

  <div class="section">
    <select><option>Filters go here</option></select>
  </div>

  <div class="section">

    <div class="ticketList">
      <div class="ticketHeaders">
        <div></div>
        <div>Display name</div>
        <div class="text-right">Requested on</div>
      </div>
    {{#each model as |data|}}
      {{#link-to "view" data.id class="ticket"}}
        <div class="ticket-cell ticket-addon ticket-icon">
          {{ticket-icon type=data.type}}
        </div>
        <div class="ticket-cell">
          <h4 class="ticket-name">{{data.displayName}}</h4>
        </div>
        <div class="ticket-cell ticket-date text-right">
          <p>{{moment-format data.created 'll'}}</p>
        </div>
      {{/link-to}}
    {{/each}}
    </div>

  </div>

</div>
</div>
