<div class="cover cover--header">
<div class="wrapper">

  {{#link-to "new" class="button button--bordered pull-right"}}
    <i class="fa fa-plus"></i>
    New request
  {{/link-to}}
  <h1 class="cover-title">My requests</h1>

</div>
</div>

<div class="wrapper">

  <div class="section">

    <div class="innerNav">
      {{#link-to 'browse' (query-params status="open") class=""}}
        <i class="fa fa-exclamation-circle" /> {{model.meta.totalOpen}}
        Open
      {{/link-to}}
      {{#link-to 'browse' (query-params status="closed") class=""}}
        <i class="fa fa-check" />
        {{model.meta.totalClosed}}
        Closed
      {{/link-to}}
    </div>

    <div class="filters">
      <div class="filters-main">
        All <b class="arrow"></b>
        {{!-- <span class="typeIconContainer">
          <i class="fa fa-user"></i>
        </span> --}}
      </div>
      <div class="filters-secondary">
        <div class="filters-item">
          Author <b class="arrow"></b>
        </div>
        <div class="filters-item">
          Assignee <b class="arrow"></b>
        </div>
        <div class="filters-item">
          Sort <b class="arrow"></b>
        </div>
      </div>
    </div>

    <div class="ticketList">
    {{#each model as |data|}}
      {{#link-to "view" data.id class=(concat "ticket ticket--" data.type)}}
        <div class="ticket-cell ticket-icon">
          {{ticket-icon data.type}}
        </div>
        <div class="ticket-cell ticket-name">
          <h4>{{data.displayName}}</h4>
        </div>
        <div class="ticket-cell ticket-date text-right">
          <p><time datetime={{data.created}} title={{moment-format data.created 'LLL'}}>{{moment-format data.created 'll'}}</time></p>
        </div>
      {{/link-to}}
    {{/each}}
    </div>

    {{ui-pagination meta=model.meta route='browse'}}

  </div>

</div>

