<div class="wrapper">

  <div class="titleBar">
    <h1 class="t2 t-light titleBar-title">{{t 'ticket' count=total.all}}</h1>
    <div class="titleBar-action">
      {{#link-to "new" class="button button--primary"}}
        {{~t 'pods.browse.newButton'~}}
      {{/link-to}}
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="section">

    {{#filter-nav
      country=country
      kind=kind
      requester=requester
      responder=responder
      sort=sort
      updateFilter=(action 'updateFilter')
    }}
      <div class="statusTabs">
        {{#link-to 'browse' (query-params status=statusPairs.open page=1) class=(if (eq status statusPairs.open) "active") data-test-status-tab="open"}}
          {{icon "issue-opened"~}}
          {{total.open}}
          {{t 'ticket.status.groups.open'}}
        {{/link-to}}
        {{#link-to 'browse' (query-params status=statusPairs.closed page=1) class=(if (eq status statusPairs.closed) "active") data-test-status-tab="closed"}}
          {{icon "check"~}}
          {{total.closed}}
          {{t 'ticket.status.groups.closed'}}
        {{/link-to}}
      </div>
    {{/filter-nav}}

    {{filter-active
      country=country
      kind=kind
      requester=requester
      responder=responder
      filterMeta=filterMeta
      resetAllFilters=(action 'resetAllFilters')
      resetFilter=(action 'resetFilter')
    }}

    {{#unless total.all}}
      {{#no-results title=(t 'empty.noTickets.title')}}
        {{#link-to "new" class="button buttonOutlined--primary"}}
          {{~t 'empty.noTickets.button'~}}
        {{/link-to}}
      {{/no-results}}
    {{else}}
      {{#unless model.length}}
        {{#no-results title=(t 'empty.noResults.title')}}
          {{t 'empty.noResults.body'}}
        {{/no-results}}
      {{else}}
        {{ticket-list data=model}}
      {{/unless}}
    {{/unless}}

    {{ui-pagination class="mt-4" meta=model.meta current=page route='browse'}}

  </div>
</div>


