<div class="wrapper">

  {{#each flashMessages.queue as |flash|}}
    {{#ui-flash flash=flash class="t-sm"}}
      {{icon "alert"}}
      {{t flash.message}}
    {{/ui-flash}}
  {{/each}}

  <div class="titleBar">
    <h1 class="titleBar-title t-light t2" data-test-name>
      {{~icon-by-kind model.kind class="icon--xl"~}}
      {{~title~}}
    </h1>
    {{#unless updateStatus.isRunning}}
    <div class="titleBar-action">
      {{#if (and (can "resolve tickets") model.isOpen model.responders.length)}}
        <div class="mr-3">
          {{#if model.isPending}}
            {{ticket-unmark-pending model=model activityType='unmark' activityLabel=(t 'actions.unmark') onSave=(action 'saveStatus')}}
          {{else}}
            {{ticket-mark-pending model=model onSave=(action 'saveStatus' 'pending')}}
          {{/if}}
        </div>
      {{/if}}

      {{#if model.isOpen}}
        {{ticket-close model=model
          activityType=(if (can "resolve tickets") 'close' 'cancel')
          activityLabel=(if (can "resolve tickets") (t 'actions.close') (t 'actions.cancel'))
          onSave=(action 'saveStatus')
        }}
      {{else}}
        {{ticket-reopen model=model onSave=(action 'saveStatus' 'reopen')}}
      {{/if}}
    </div>
    {{/unless}}
  </div>

  {{ticket-sections model=model}}

  <div class="l-fixedColumn pv4">
    <div class="l-fixedColumn-main">

      {{#editable-area model=model keys=(array 'deadlineAt') validations=Validations as |buffer ea|}}

      <div class="ticketSubtitle {{if ea.isEditing "b-editing"}}">
        <div class="ticketSubtitle-main">
          {{t 'ticket.requester.prefix'}}
          {{#if (can 'resolve tickets')}}
            {{#user-card user=model.requester}}
              <span>{{model.requester.displayName}}</span>
            {{/user-card}}
          {{else}}
            <span class="ticketRequester">{{model.requester.displayName}}</span>
          {{/if}}
          {{timestamp-date model.createdAt}}
        </div>

        <div class="ticketSubtitle-secondary" data-test-deadline-at>
          {{#unless ea.isEditing}}
            {{#if model.deadlineAt}}
              {{t 'ticket.deadline.label'}}
              {{timestamp-date model.deadlineAt}}
            {{else}}
              {{t 'ticket.deadline.empty'}}
            {{/if}}

            {{#if (can 'manage tickets')}}
              <button class="button button--icon" {{action ea.actions.toggleEdit}} aria-label="Edit" data-test-ea-open>
                {{icon "pencil"}}
              </button>
            {{/if}}
          {{else}}
            <button class="button button--icon" {{action ea.actions.toggleEdit}} aria-label="Remove" data-test-ea-close>
              {{icon "x"}}
            </button>
          {{/unless}}
        </div>
      </div>

      {{#if ea.isEditing}}
        <div class="editZone">
          {{#validated-field
            class="formGroup"
            errors=buffer.displayErrors.deadlineAt
            didValidate=didValidate
            as |field|}}

            <label for="ticket-deadline">{{t 'ticket.deadline.label'}}</label>
            {{input-date
              value=buffer.deadlineAt
              onSelect=(queue (action (mut buffer.deadlineAt) value="date") field.triggerValidations)
              id="ticket-deadline"
              center=center
              minDate=minimumDeadline
            }}

            {{#if field.showErrors}}
              {{#each field.errors as |error|}}
                <div class="formFeedback">{{error}}</div>
              {{/each}}
            {{/if}}
          {{/validated-field}}

          <div class="mt-3 fieldGroup-actions">
            <button class="button button--sm button--primary mr-2" disabled={{ea.task.isRunning}} {{action ea.actions.save}} data-test-ea-save>
              {{t 'actions.save'}}
            </button>
            <button class="button button--sm buttonOutlined--secondary" {{action ea.actions.toggleEdit}}  data-test-ea-cancel>
              {{t 'actions.cancel'}}
            </button>

            {{#if ea.task.isRunning}}
              {{ui-spinner}}
            {{/if}}
          </div>
        </div>
      {{/if}}

      {{/editable-area}}

      <dl class="ticketDetails mt-4">
        {{#if (eq model.kind kindList.[0])}}
          {{#if model.country}}
            <dt>{{t 'ticket.countryPerson.label'}}</dt>
            <dd data-test-countryPerson>{{country-name model.country}}</dd>
          {{/if}}

          <dt>{{t 'ticket.background.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.initialInformation.label'}}</dt>
          <dd class="formatted">{{model.initialInformation}}</dd>

          {{#if model.bornAt}}
            <dt>{{t 'ticket.bornAt.label'}}</dt>
            <dd data-test-born-at>{{moment-format model.bornAt 'LL'}}</dd>
          {{/if}}

          {{#if model.sources}}
            <dt>{{t 'ticket.sourcesPerson.label'}}</dt>
            <dd class="formatted">{{model.sources}}</dd>
          {{/if}}

          {{#if model.connections}}
            <dt>{{t 'ticket.connectionsPerson.label'}}</dt>
            <dd class="formatted">{{model.connections}}</dd>
          {{/if}}

          {{#if model.businessActivities}}
            <dt>{{t 'ticket.businessActivities.label'}}</dt>
            <dd class="formatted">{{model.businessActivities}}</dd>
          {{/if}}
        {{else if (eq model.kind kindList.[1])}}
          <dt>{{t 'ticket.country.label'}}</dt>
          <dd data-test-country>{{country-name model.country}}</dd>

          <dt>{{t 'ticket.backgroundCompany.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.sources.label'}}</dt>
          <dd class="formatted">{{model.sources}}</dd>

          {{#if model.connections}}
            <dt>{{t 'ticket.connections.label'}}</dt>
            <dd class="formatted">{{model.connections}}</dd>
          {{/if}}
        {{else}}
          <dt>{{t 'ticket.backgroundOther.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>
        {{/if}}
      </dl>

      {{#if model.sensitive}}
        <div class="alert alert--warning mt-5">
          <h4 class="t5 alert-heading">{{icon "alert" class="icon--lg"}}{{t 'ticket.sensitive.trueLabel'}}</h4>
          {{#if model.whysensitive}}
            <div class="formatted">{{model.whysensitive}}</div>
          {{/if}}
        </div>
      {{/if}}


      {{#activity-list model=model as |list|}}
        {{#if model.isOpen}}
          {{activity-form model=model}}
        {{/if}}
      {{/activity-list}}

    </div>

    <div class="l-fixedColumn-column ticketMeta">
      <div class="statusBar">
        {{#if updateStatus.isRunning}}
          {{ui-spinner}}
        {{else}}
          {{status-label model.status data-test-status class="mr-2"}}
          <div>
            {{t 'ticket.updatedAt.prefix'}}
            {{timestamp-full model.updatedAt}}
          </div>
        {{/if}}
      </div>

      {{ticket-meta class="mt-4" model=model}}
    </div>

  </div>

</div>
