<div class="cover cover--content">
<div class="wrapper">

  <div class="l-fixedColumn">
    <div class="l-fixedColumn-main">

      <div class="ticketType">
        {{ticket-icon model.type}}
        <span>{{get (get typeMap model.type) "shortName"}}</span>
      </div>

      <h1 class="ticketTitle t-dark t-flush" data-test-name>{{title}}</h1>

      <p class="ticketSubtitle">
      Submitted by <strong>{{model.author.displayName}}</strong> on
        <time datetime={{model.created}} title={{moment-format model.created 'LLL'}}>
          {{moment-format model.created 'LL'}}
        </time>
      </p>

      <hr class="l-fixedColumn-separator" />

      {{#if (eq model.type typeList.[0])}}
        <dl class="ticketDetails">
          <dt>Background</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>Initial information</dt>
          <dd class="formatted">{{model.initialInformation}}</dd>

          <dt>Date of birth</dt>
          <dd data-test-dob>{{moment-format model.dob 'LL'}}</dd>

          <dt>Aliases</dt>
          <dd class="formatted">{{model.aliases}}</dd>

          <dt>Family And Associates</dt>
          <dd class="formatted">{{model.family}}</dd>

          <dt>Business Activities</dt>
          <dd class="formatted">{{model.businessActivities}}</dd>
        </dl>
      {{else if (eq model.type typeList.[1])}}
        <dl class="ticketDetails">
          <dt>Country</dt>
          <dd data-test-country>{{get countries model.country}}</dd>

          <dt>Company background</dt>
          <dd class="formatted" data-test-companyBackground>{{model.companyBackground}}</dd>

          <dt>Sources</dt>
          <dd class="formatted">{{model.sources}}</dd>

          <dt>Connections</dt>
          <dd class="formatted">{{model.connections}}</dd>
        </dl>
      {{else}}
        <dl class="ticketDetails">
          <dt>Question</dt>
          <dd class="formatted" data-test-question>{{model.question}}</dd>
        </dl>
      {{/if}}

      {{#if model.sensitive}}
        <div class="alert alert-warning alert--custom">
          <h4><i class="fa fa-exclamation-triangle" /> Sensitive request</h4>
          {{#if model.whySensitive}}
            <div class="formatted">{{model.whySensitive}}</div>
          {{/if}}
        </div>
      {{/if}}

      <hr class="l-fixedColumn-separator" />

      <h3 class="t-accent">Activity</h3>

      {{activity-list data=model.activities model=model}}
    </div>

    <div class="l-fixedColumn-column">
      {{ticket-meta model=model class="ticketMeta"}}
    </div>

  </div>

</div>
</div>