<div class="wrapper">

  <div class="titleBar">
    <h1 class="titleBar-title t-light" data-test-name>
      {{~icon-by-kind model.kind class="icon--xl"~}}
      {{~title~}}
    </h1>
    <div class="titleBar-action">
      {{#if (and (can "resolve tickets") model.isOpen model.responders.length)}}
        <div class="mr-3">
          {{#if model.isPending}}
            {{ticket-unmark-pending model=model activityType='unmark' onSave=(action 'saveStatus')}}
          {{else}}
            {{ticket-mark-pending model=model onSave=(action 'saveStatus' 'pending')}}
          {{/if}}
        </div>
      {{/if}}

      {{#if model.isOpen}}
        {{ticket-close model=model activityType=(if (can "resolve tickets") 'close' 'cancel') onSave=(action 'saveStatus')}}
      {{else}}
        {{ticket-reopen model=model onSave=(action 'saveStatus' 'reopen')}}
      {{/if}}
    </div>
  </div>

  <div class="l-fixedColumn">
    <div class="l-fixedColumn-main">

      <div class="ticketSubtitle">
        <div class="ticketSubtitle-main">
          {{t 'ticket.requester.prefix'}}
          {{#if (can 'manage tickets')}}
            {{#link-to 'browse' (query-params requester=model.requester.id page=1) class="link-muted t-bold"~}}
              {{model.requester.displayName}}
            {{~/link-to}}
          {{else}}
            <strong>{{model.requester.displayName}}</strong>
          {{/if}}
          {{t 'prefixes.on'}}
          <time datetime={{model.createdAt}} title={{moment-format model.createdAt 'LLL'}}>
            {{moment-format model.createdAt}}
          </time>
        </div>

        {{#if model.deadlineAt}}
          <div class="ticketSubtitle-secondary">
            {{t 'ticket.deadline.label'}}
            <time datetime={{model.deadlineAt}} title={{moment-format model.deadlineAt 'LLL'}}>
              {{moment-format model.deadlineAt}}
            </time>
          </div>
        {{/if}}
      </div>


      {{#if (eq model.kind kindList.[0])}}
        <dl class="ticketDetails">
          {{#if model.country}}
            <dt>{{t 'ticket.countryPerson.label'}}</dt>
            <dd data-test-countryPerson>{{country-name model.country}}</dd>
          {{/if}}

          <dt>{{t 'ticket.background.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.initialInformation.label'}}</dt>
          <dd class="formatted">{{model.initialInformation}}</dd>

          {{#if model.bornAt}}
            <dt>{{t 'ticket.bornAt.label'}}</dt>
            <dd data-test-born-at>{{moment-format model.bornAt 'LL'}}</dd>
          {{/if}}

          {{#if model.sources}}
            <dt>{{t 'ticket.sourcesPerson.label'}}</dt>
            <dd class="formatted">{{model.sources}}</dd>
          {{/if}}

          {{#if model.connections}}
            <dt>{{t 'ticket.connectionsPerson.label'}}</dt>
            <dd class="formatted">{{model.connections}}</dd>
          {{/if}}

          {{#if model.businessActivities}}
            <dt>{{t 'ticket.businessActivities.label'}}</dt>
            <dd class="formatted">{{model.businessActivities}}</dd>
          {{/if}}
        </dl>
      {{else if (eq model.kind kindList.[1])}}
        <dl class="ticketDetails">
          <dt>{{t 'ticket.country.label'}}</dt>
          <dd data-test-country>{{country-name model.country}}</dd>

          <dt>{{t 'ticket.backgroundCompany.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.sources.label'}}</dt>
          <dd class="formatted">{{model.sources}}</dd>

          {{#if model.connections}}
            <dt>{{t 'ticket.connections.label'}}</dt>
            <dd class="formatted">{{model.connections}}</dd>
          {{/if}}
        </dl>
      {{else}}
        <dl class="ticketDetails">
          <dt>{{t 'ticket.backgroundOther.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>
        </dl>
      {{/if}}

      {{#if model.sensitive}}
        <div class="alert alert--warning mt-5">
          <h4 class="t5 alert-heading">{{icon "alert" class="icon--lg"}} {{t 'ticket.sensitive.trueLabel'}}</h4>
          {{#if model.whysensitive}}
            <div class="formatted">{{model.whysensitive}}</div>
          {{/if}}
        </div>
      {{/if}}

      {{#if (and (not (can 'manage tickets')) model.responders.length)}}
      <div class="mt-5">
        <h3 class="t-light t-primary mb-3">{{t 'ticket.responder.label'}}</h3>

        <ul class="staffList">
        {{#each model.responders as |responder|}}
          <li>{{responder.user.displayName}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}

      <hr />

      {{activity-list model=model showForm=model.isOpen}}

    </div>

    <div class="l-fixedColumn-column ticketMeta">
      <div class="statusBar">
        {{#if updateStatus.isRunning}}
          {{ui-spinner}}
        {{else}}
          {{status-label model.status data-test-status class="mr-2"}}
          <div>
            {{t 'ticket.updatedAt.prefix'}}
            <time datetime={{model.updatedAt}} title={{moment-format model.updatedAt 'LLL'}}>{{moment-from-now model.updatedAt}}</time>
          </div>
        {{/if}}
      </div>

      {{ticket-meta class="mt-4" model=model}}
    </div>

  </div>

</div>