<div class="wrapper">
  {{#each flashMessages.queue as |flash|}}
    {{#ui-flash flash=flash class="t-sm"}}
      {{icon "alert"}}
      {{t flash.message}}
    {{/ui-flash}}
  {{/each}}

  <div class="titleBar">
    <h1 class="titleBar-title t-light t2" data-test-name>
      {{~icon-by-kind model.kind class="icon--xl"~}}
      {{~model.displayName~}}
    </h1>
  </div>

  {{outlet}}
</div>
