<div class="cover cover--content">
<div class="wrapper">

  <div class="l-fixedColumn">
    <div class="l-fixedColumn-main">

      <div class="ticketType">
        {{ticket-icon model.kind}}
        <span>{{t (concat 'ticket.kind.' model.kind '.shortName')}}</span>
      </div>

      <h1 class="ticketTitle t-dark t-flush" data-test-name>{{title}}</h1>

      <p class="ticketSubtitle">
        {{t 'ticket.requester.prefix'}}
        <strong>{{model.requester.displayName}}</strong>
        {{t 'prefixes.on'}}
        <time datetime={{model.createdAt}} title={{moment-format model.createdAt 'LLL'}}>
          {{moment-format model.createdAt}}
        </time>
      </p>

      <hr class="l-fixedColumn-separator" />

      {{#if (eq model.kind kindList.[0])}}
        <dl class="ticketDetails">
          <dt>{{t 'ticket.background.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.initialInformation.label'}}</dt>
          <dd class="formatted">{{model.initialInformation}}</dd>

          <dt>{{t 'ticket.bornAt.label'}}</dt>
          <dd data-test-born-at>{{moment-format model.bornAt 'LL'}}</dd>

          <dt>{{t 'ticket.sourcesPerson.label'}}</dt>
          <dd class="formatted">{{model.sources}}</dd>

          <dt>{{t 'ticket.connectionsPerson.label'}}</dt>
          <dd class="formatted">{{model.connections}}</dd>

          <dt>{{t 'ticket.businessActivities.label'}}</dt>
          <dd class="formatted">{{model.businessActivities}}</dd>
        </dl>
      {{else if (eq model.kind kindList.[1])}}
        <dl class="ticketDetails">
          <dt>{{t 'ticket.country.label'}}</dt>
          <dd data-test-country>{{get countries model.country}}</dd>

          <dt>{{t 'ticket.backgroundCompany.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>{{t 'ticket.sources.label'}}</dt>
          <dd class="formatted">{{model.sources}}</dd>

          <dt>{{t 'ticket.connections.label'}}</dt>
          <dd class="formatted">{{model.connections}}</dd>
        </dl>
      {{else}}
        <dl class="ticketDetails">
          <dt>{{t 'ticket.backgroundOther.label'}}</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>
        </dl>
      {{/if}}

      {{#if model.sensitive}}
        <div class="alert alert-warning alert--custom">
          <h4><i class="fa fa-exclamation-triangle" /> {{t 'ticket.sensitive.trueLabel'}}</h4>
          {{#if model.whysensitive}}
            <div class="formatted">{{model.whysensitive}}</div>
          {{/if}}
        </div>
      {{/if}}

      {{#if isOpen}}
        <hr class="l-fixedColumn-separator" />

        <h3 class="t-accent">{{t 'attachment' count=2}}</h3>

        {{attachment-manager model=model}}
      {{/if}}

      <hr class="l-fixedColumn-separator" />

      <h3 class="t-accent activityHeading">
        {{t 'activity' count=1}}
        {{#unless model.activities.length}}{{ui-spinner}}{{/unless}}
      </h3>

      {{activity-list data=model.activities model=model showForm=isOpen}}
    </div>

    <div class="l-fixedColumn-column">
      {{ticket-meta model=model class="ticketMeta" showControls=isOpen}}
    </div>

  </div>

</div>
</div>