<div class="cover cover--content">
<div class="wrapper">

  <div class="l-fixedColumn">
    <div class="l-fixedColumn-main">
      <div class="ticket-type">
        {{ticket-icon model.type}}
        <span>{{get (get typeMap model.type) "shortName"}}</span>
      </div>
      {{#if (eq model.type typeList.[0])}}
        <h1 class="t-dark t-flush" data-test-name>{{model.displayName}}</h1>

        <dl class="ticketDetails">
          <dt>Background</dt>
          <dd class="formatted" data-test-background>{{model.background}}</dd>

          <dt>Initial information</dt>
          <dd class="formatted">{{model.initialInformation}}</dd>

          <dt>Date of birth</dt>
          <dd data-test-dob>{{moment-format model.dob 'LL'}}</dd>

          <dt>Aliases</dt>
          <dd class="formatted">{{model.aliases}}</dd>

          <dt>Family And Associates</dt>
          <dd class="formatted">{{model.family}}</dd>

          <dt>Business Activities</dt>
          <dd class="formatted">{{model.businessActivities}}</dd>
        </dl>
      {{else if (eq model.type typeList.[1])}}
        <h1 class="t-dark t-flush" data-test-name>{{model.companyName}}</h1>

        <dl class="ticketDetails">
          <dt>Country</dt>
          <dd data-test-country>{{get countries model.country}}</dd>

          <dt>Company background</dt>
          <dd class="formatted" data-test-companyBackground>{{model.companyBackground}}</dd>

          <dt>Sources</dt>
          <dd class="formatted">{{model.sources}}</dd>

          <dt>Connections</dt>
          <dd class="formatted">{{model.connections}}</dd>
        </dl>
      {{else}}
        <h1 class="t-dark t-flush" data-test-name>Request</h1>
        <dl class="ticketDetails">
          {{!-- <dt>Question</dt> --}}
          <dd class="formatted" data-test-question>{{model.question}}</dd>
        </dl>
      {{/if}}

      {{#if model.sensitive}}
        <div class="alert alert-warning alert--custom">
          <h4><i class="fa fa-exclamation-triangle" /> Sensitive request</h4>
          {{#if model.whySensitive}}
            <div class="formatted">{{model.whySensitive}}</div>
          {{/if}}
        </div>
      {{/if}}

      <hr class="l-fixedColumn-separator" />

      <h2 class="t-accent">Comments</h2>

      <div class="commentList">

        <div class="comment">
          <div class="comment-author"><strong>Stefan Schipor</strong> commented <time>on 24 Feb, 2016</time></div>
          <div class="comment-body formatted">Hey this is my comment.</div>
        </div>

        <div class="comment">
          <div class="comment-author"><strong>Somebody Else</strong> commented <time>4 minutes ago</time></div>
          <div class="comment-body formatted">Voluptatum doloremque exercitationem beatae est. Est laboriosam libero autem dolores asperiores maiores veritatis. Libero exercitationem totam sit sequi veritatis. Quae et et aut dolor nesciunt. Et veritatis totam. Perferendis quidem magni mollitia molestias quis ut iure.

Quia ducimus alias laborum consequuntur rerum. Reiciendis nobis quod temporibus velit in culpa tenetur. Consectetur eos harum. Totam soluta tempore vel ipsum consequuntur voluptas quia ipsa. Velit architecto tenetur dolor aut hic sed error illo. Labore quis pariatur omnis magnam explicabo.</div>
        </div>

        <div class="comment">
          <div class="comment-author"><strong>Leave a comment</strong></div>
          <div class="comment-body comment-form">
            <form>
              {{textarea class="form-control" rows="5"}}
              <button type="submit" class="button button--primary pull-right">Post comment</button>
            </form>
          </div>
        </div>

      </div>

    </div>

    <div class="l-fixedColumn-column">

      <p>{{status-label model.status data-test-status}}</p>

      <dl class="requestDetails">
        <dt><i class="fa fa-refresh" /> Last update</dt>
        <dd><time datetime={{model.statusUpdated}} title={{moment-format model.statusUpdated 'LLL'}}>{{moment-from-now model.statusUpdated}}</time></dd>

        <dt><i class="fa fa-calendar-o" /> Submitted on</dt>
        <dd><time datetime={{model.created}} title={{moment-format model.created 'LLL'}}>{{moment-format model.created 'LL'}}</time></dd>

        <dt><i class="fa fa-calendar-check-o" /> Deadline</dt>
        <dd><time datetime={{model.deadline}} title={{moment-format model.deadline 'LLL'}}>{{moment-format model.deadline 'LL'}} ({{moment-from-now model.deadline}})</time></dd>

        {{#if model.assignee}}
          <dt>Assigned to</dt>
          <dd>{{model.assignee.displayName}}</dd>
        {{/if}}
      </dl>

      {{#if (or (eq model.status 'new') (eq model.status 'in-progress'))}}
        <a class="button button--bordered" {{action (mut isShowingModal) true}} data-test-cancel>Cancel request</a>
      {{else if (not-eq model.status 'closed')}}
        <a class="button button--accent" data-test-reopen>Reopen request</a>
      {{/if}}

      {{#if isShowingModal}}
      {{#ui-modal close=(action (mut isShowingModal) false)}}
        <div class="modal-content">
        <div class="modal-body">

          <div class="modal-message">
            <h4>Are you sure you want to cancel this request?</h4>
          </div>
          <div class="modal-actions">
            <button class="button button--primary" {{action 'cancelTicket'}} data-test-modal-confirmCancel>Cancel request</button>
            <button class="button button--accent" {{action (mut isShowingModal) false}} data-test-modal-dontCancel>Leave request open</button>
          </div>

        </div>
        </div>
      {{/ui-modal}}
      {{/if}}

    </div>

  </div>

</div>
</div>