<div class="wrapper">
  {{#each flashMessages.queue as |flash|}}
    {{#ui-flash flash=flash class="t-sm"}}
      {{icon "alert"}}
      {{t flash.message}}
    {{/ui-flash}}
  {{/each}}

  <div>
    <h1 class="normal" data-test-name>
      {{~icon-by-kind model.kind class="icon--xl nb-2"}}
      {{html-safe model.displayName~}}
    </h1>
  </div>

  {{outlet}}
</div>
