{{#unless loadStats.isRunning}}
{{#with statsCache.meta.total as |total|}}
  <td class="userStats-user">
    {{#link-to 'browse' (query-params responder=user.id page=1) class="link-muted"~}}
      {{user.displayName}}
    {{~/link-to}}
  </td>
  <td class="t-right">
    {{total.new}}
  </td>
  <td class="t-right">
    {{total.inProgress}}
  </td>
  <td class="t-right">
    {{total.pending}}
  </td>
  <td class="t-right">
    {{#if total.pastDeadline}}
      <span class="t-danger">{{total.pastDeadline}}</span>
    {{else}}
      0
    {{/if}}
  </td>
  <td class="t-right">
    {{total.closed}}
  </td>
  <td class="t-right">
    {{total.cancelled}}
  </td>

{{/with}}
{{/unless}}

