{{#ui-modal-container as |m|}}

  <a {{action m.toggle}} data-test-mark-pending>
    {{t 'pods.view.pending.button'}}
  </a>

  {{#if m.isShowing}}
    {{#ui-modal modifiers="modal--lg" onClose=(action m.toggle)}}
      <div class="modal-header">
        <h4 class="modal-title t-primary">{{t 'pods.view.pending.title'}}</h4>
        <button class="button button--icon button--dark" {{action m.toggle}} aria-label="Close">
          {{~icon "x"~}}
        </button>
      </div>

      <form class="modal-content" {{action "save" m.toggle on="submit"}}>
        <div class="modal-body">
          {{textarea
            id='ticket-pending'
            rows=6
            placeholder=(t 'pods.view.pending.title')
            class=(concat 'db w-100 ba br1 pa2 mb2 b--moon-gray' (unless body ' b--dark-red'))
            value=(mut body)
          }}
        </div>

        <div class="modal-footer">
          <button class="db ttu b bg-white bn dim ph3 pv2" {{action m.toggle}} data-test-modal-cancel>
            {{~t 'actions.cancel'~}}
          </button>
          <button
            type="submit"
            class="db ttu b white bg-occrp-red br2 bn dim ph3 pv2"
            disabled={{unless body true}}
            data-test-modal-confirm
          >
            {{~t 'actions.save'~}}
          </button>
        </div>
      </form>
    {{/ui-modal}}
  {{/if}}

{{/ui-modal-container}}
