<table class="statsTable">
  <thead>
    <tr>
      <th class="statsTable-main">Ticket</th>
      <th class="t-right statsTable-cell">Rating</th>
      <th class="t-right statsTable-cell">{{t 'pods.reporting.columns.total'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |stat|}}
      <tr>
        <td>
          <LinkTo @route="view.ticket" @model={{stat.ticket}}>#{{stat.ticket.id}}</LinkTo>
        </td>
        <td class="t-right">
          <strong>
            {{stat.ratings}}
          </strong>
        </td>
        <td class="t-right">
          <span class="t-danger">
            {{stat.count}}
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
