{{#if (gt total 1)}}

  {{#if meta.pagination.prev.number}}
    <a href {{action onSwitch meta.pagination.prev.number}} class="pg-prev" data-test-pagination="prev">
      {{~t 'pagination.newer'~}}
    </a>
  {{else}}
    <span class="pg-prev is-disabled">{{t 'pagination.newer'}}</span>
  {{/if}}

  {{#each items as |number|}}
    {{#if number}}
      <a href {{action onSwitch number}} class="pg-item {{if (eq number current) "is-active"}}">
        {{~number~}}
      </a>
    {{else}}
      <span class="pg-sep">&hellip;</span>
    {{/if}}
  {{/each}}

  {{#if meta.pagination.next.number}}
    <a href {{action onSwitch meta.pagination.next.number}} class="pg-next" data-test-pagination="next">
      {{~t 'pagination.older'~}}
    </a>
  {{else}}
    <span class="pg-next is-disabled">{{t 'pagination.older'}}</span>
  {{/if}}

{{/if}}