<p class="pv2">
  <span class="ttu tracked gray db">{{title}}</span>

  {{#if (not-eq content null)}}
    {{#if markdown}}
      <div class="{{contentCssNames}}" data-test={{testSel}}>
        {{markdown-to-html content}}
      </div>
    {{else}}
      <span class="{{contentCssNames}}" data-test={{testSel}}>{{~yield~}}{{~content~}}</span>
    {{/if}}
  {{else}}
    &mdash;
  {{/if}}
</p>
