{{#if publishComment.last.error}}
  <div class="alert alert--danger t-sm mt-4 mb-4" data-test-comment-error>
    {{icon "alert"}}
    {{t 'errors.genericRequest'}}
  </div>
{{/if}}

<div class="activity activity--comment">
  <div class="activity-avatar">{{user-avatar user=session.currentUser preset="large"}}</div>

  <div class="activity-author"><strong>{{t 'activity.comment.title'}}</strong></div>

  {{#with (changeset record Validations) as |buffer|}}
    <form class="activity-body activity-form" {{action "save" buffer on="submit"}}>
      {{#validated-input inputId='new-comment' buffer=buffer property='body' showErrors=false as |vi errors|}}
        {{textarea
          rows=6
          disabled=publishComment.isRunning
          class=(concat 'db w-100 ba br1 pa2 mb2 b--moon-gray' (if errors.validation ' b--dark-red'))
          id=vi.inputId
          value=(mut (get buffer vi.property))
          focus-out=(action 'validateProperty' buffer vi.property target=vi)
        }}
      {{/validated-input}}

      {{#if publishComment.isRunning}}
        {{ui-spinner}}
      {{else}}
        <button
          type="submit"
          disabled={{publishComment.isRunning}}
          class="db ttu b white bg-occrp-red br2 bn pointer dim ph3 pv2"
          data-test-publish-comment
        >{{t 'activity.comment.submitButton'}}</button>
      {{/if}}
    </form>
  {{/with}}
</div>
