{{#if hasFilters}}
  <div class="activeFilters">
    <span class="activeFilters-label">Filtered by</span>
    {{#if kind}}
      <span class="chip">
        <span class="chip-label">Type</span>
        <span class="chip-value" data-test-active-filter="kind">{{get (get kindMap kind) 'shortName'}}</span>
      </span>
    {{/if}}
    {{#if currentAuthor}}
      <span class="chip">
        <span class="chip-label">Author</span>
        <span class="chip-value" data-test-active-filter="author">{{currentAuthor.firstName}} {{currentAuthor.lastName}}</span>
      </span>
    {{/if}}
    {{#if currentAssignee}}
      <span class="chip">
        <span class="chip-label">Assignee</span>
        <span class="chip-value" data-test-active-filter="assignee">{{currentAssignee.firstName}} {{currentAssignee.lastName}}</span>
      </span>
    {{/if}}
    <a href class="activeFilters-clear" {{action resetFilters}}>Clear all filters</a>
  </div>
{{/if}}