{{#if hasFilters}}
  <div class="activeFilters">
    <div class="activeFilters-label">
      {{t 'filters.current.title'}}
    </div>
    <ul class="activeFilters-list">
    {{#if kind}}
      <li class="chip">
        <div class="chip-label">{{t 'ticket.kind.one'}}</div>
        <div class="chip-value" data-test-active-filter="kind">
          {{~t (concat 'ticket.kind.' kind '.shortName')~}}
        </div>
        <button class="button--icon chip-action" {{action resetFilter 'kind'}} aria-label="Remove" data-test-remove-filter="kind">
          {{icon "x"}}
        </button>
      </li>
    {{/if}}
    {{#if country}}
      <li class="chip">
        <div class="chip-label">{{t 'ticket.country.one'}}</div>
        <div class="chip-value" data-test-active-filter="country" title="{{country-name country}}">
          {{~country~}}
        </div>
        <button class="button--icon chip-action" {{action resetFilter 'country'}} aria-label="Remove" data-test-remove-filter="country">
          {{icon "x"}}
        </button>
      </li>
    {{/if}}
    {{#if currentRequester}}
      <li class="chip">
        <div class="chip-label">{{t 'ticket.requester.one'}}</div>
        <div class="chip-value" data-test-active-filter="requester">
          {{~currentRequester.displayName~}}
        </div>
        <button class="button--icon chip-action" {{action resetFilter 'requester'}} aria-label="Remove" data-test-remove-filter="requester">
          {{icon "x"}}
        </button>
      </li>
    {{/if}}
    {{#if currentResponder}}
      <li class="chip">
        <div class="chip-label">{{t 'ticket.responder.one'}}</div>
        <div class="chip-value" data-test-active-filter="responder">
          {{~currentResponder.displayName~}}
        </div>
        <button class="button--icon chip-action" {{action resetFilter 'responder'}} aria-label="Remove" data-test-remove-filter="responder">
          {{icon "x"}}
        </button>
      </li>
    {{/if}}
    {{#if startDate}}
      <li class="chip">
        <div class="chip-label">{{t 'filters.startDate'}}</div>
        <div class="chip-value" data-test-active-filter="start-date">
          {{moment-from-now startDate}}
        </div>
        <button class="button--icon chip-action" {{action resetFilter 'startDate'}} aria-label="Remove" data-test-remove-filter="start-date">
          {{icon "x"}}
        </button>
      </li>
    {{/if}}
    </ul>
    <button class="button button--link activeFilters-clear" {{action resetAllFilters}}>
      {{t 'filters.current.clear'}}
    </button>
  </div>
{{/if}}
