<h2 class="t4 t-light mb-3 mx-3">{{t 'pods.reporting.countriesTitle' count=model.meta.countries.length}}</h2>

<table class="statsTable">
  <thead>
    <th class="statsTable-expand"></th>
    <th class="statsTable-main">{{t 'pods.reporting.columns.name'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'new'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'in-progress'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'pending'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'closed'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'cancelled'}}</th>
    <th class="t-right statsTable-cell">{{t 'pods.reporting.columns.total'}}</th>
    <th class="t-right statsTable-cell">{{t 'pods.reporting.columns.pastDeadline'}}</th>
  </thead>
  <tbody>
    {{stats-countries countries=model.meta.countries filter=model.query.filter}}
  </tbody>
</table>
