<table class="statsTable">
  <thead>
    <th class="statsTable-main">{{t 'pods.reporting.columns.name'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'new'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'in-progress'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'pending'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'closed'}}</th>
    <th class="t-right statsTable-cell">{{status-label 'cancelled'}}</th>
    <th class="t-right statsTable-cell">{{t 'pods.reporting.columns.total'}}</th>
    <th class="t-right statsTable-cell">{{t 'pods.reporting.columns.pastDeadline'}}</th>
  </thead>
  <tbody>
    {{#each-in (group-by 'country' model) as |countryCode items|}}
      <tr>
        <td>
          {{country-name countryCode}}
          <p class="t-sm t-muted">{{t 'pods.reporting.columns.avgTime'}}</p>
        </td>
        {{#each (array 'new' 'in-progress' 'pending' 'closed' 'cancelled') as |status|}}
          <td class="t-right">
            {{#with (filter-by 'status' status items) as |byStatus|}}
              {{sum (map-by "count" byStatus)}}

              {{#with (sum (map-by "avgTime" byStatus)) as |avgTimeSum|}}
                <p class="t-sm t-muted">{{moment-duration-format avgTimeSum 'hours'}}</p>
              {{/with}}
            {{/with}}

            {{unless (filter-by 'status' status items) 0}}
          </td>
        {{/each}}
        <td class="t-right">
          <strong>
            {{sum (map-by "count" items)}}
          </strong>
        </td>
        <td class="t-right">
          <span class="t-danger">
            {{sum (map-by "pastDeadline" items)}}
          </span>
        </td>
      </tr>
    {{/each-in}}
  </tbody>
</table>
