{{loading-slider isLoading=loading duration=250}}

<nav class="mainNav bg-white pv2 mb4 t-sm bb b--near-white">
  <div class="wrapper flex pt2 pb4 items-center justify-between">
    <a href="{{parentMeta.rootURL}}" class="mainNav-logo t4 normal gray link">
      <img height="32" src="{{parentMeta.rootLogo}}" />
      {{#if parentMeta.rootNameShow}}
        <span>{{parentMeta.rootName}}</span>
        <abbr>ID</abbr>
      {{/if}}
    </a>
    <div class="flex ttu occrp-gray">
      {{#link-to 'browse' class="occrp-gray link"}}
        {{session.currentUser.ticketsCount}} {{t 'nav.requests'~}}
      {{/link-to}}

      {{#ui-dropdown class='mh4 ttu' data-test-dd="i18n-switch" as |dd|}}
        {{#dd.trigger class="link mid-gray"}}
          {{icon 'globe' class="nb-2"}} {{lang}}
        {{/dd.trigger}}
        {{#dd.body class="dd--xs"}}
          <div class="list">
            {{#each activeLocales as |locale|}}
              <a href {{action (pipe (action 'switchLocale' locale) dd.close)}} class="list-item {{if (eq lang locale) "is-active"}}" data-test-kind-option={{locale}}>
                {{t (concat 'locales.' locale)}}
              </a>
            {{/each}}
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}

      {{#if session.currentUser}}
        {{#ui-dropdown as |dd|}}
          {{#dd.trigger class="link mid-gray"}}
            {{session.currentUser.displayName}}
          {{/dd.trigger}}
          {{#dd.body class="dd--xs"}}
            <div class="list">
              <a href={{parentMeta.profileURL}} target="_blank" class="list-item">
                {{t 'nav.account.ssoProfile'}}
              </a>

              {{#link-to 'user' class="list-item"}}{{t 'nav.account.profile'}}{{/link-to}}

              {{#if (can "manage tickets")}}
                {{#link-to 'reporting' class="list-item"}}{{t 'nav.reports'}}{{/link-to}}
              {{/if}}

              <a href="{{parentMeta.logoutURL}}/{{session.currentUser.id}}" class="list-item">
                {{t 'nav.account.logout'}}
              </a>
            </div>
          {{/dd.body}}
        {{/ui-dropdown}}
      {{/if}}
    </div>
  </div>
</nav>

{{outlet}}
