{{loading-slider isLoading=loading duration=250}}

<nav class="mainNav bg-white pv2 mb4 t-sm t-muted bb b--near-white">
  <div class="wrapper flex pt2 pb4 items-center justify-between">
    <a href="{{parentMeta.rootURL}}" class="mainNav-logo t4 t-light">
      <img width="32" height="32" src="{{parentMeta.rootLogo}}" />
      <span>{{parentMeta.rootName}}</span>
      <abbr>ID</abbr>
    </a>
    <div class="flex ttu occrp-gray">
      {{#link-to 'browse' class="occrp-gray"}}
        {{session.currentUser.ticketsCount}} {{t 'nav.requests'~}}
      {{/link-to}}

      {{i18n-switch
        class="mh4 ttu"
        locales=activeLocales
        currentLocale=lang
        switchLocale=(action 'switchLocale')
      }}

      {{#ui-dropdown as |dd|}}
        {{#dd.trigger}}
          {{session.currentUser.displayName~}}
        {{/dd.trigger}}
        {{#dd.body class="dd--xs"}}
          <div class="list">
            <a href={{parentMeta.profileURL}} target="_blank" class="list-item">{{t 'nav.account.ssoProfile'}}</a>

            {{#link-to 'user' class="list-item"}}{{t 'nav.account.profile'}}{{/link-to}}

            {{#if (can "manage tickets")}}
              {{#link-to 'reporting' class="list-item"}}{{t 'nav.reports'}}{{/link-to}}
            {{/if}}

            <a href="{{parentMeta.logoutURL}}" class="list-item">{{t 'nav.account.logout'}}</a>
          </div>
        {{/dd.body}}
      {{/ui-dropdown}}
    </div>
  </div>
</nav>

{{outlet}}
