<div class="mw7 center pv4 ph4">
  {{validated-input defaultField=true inputId='ticket-company-name' label=(t 'ticket.companyName.label') required=true buffer=buffer property='companyName'}}


  {{validated-input class='pt4' defaultField=true inputId='ticket-identifier' label=(t 'ticket.identifierCompany.label') buffer=buffer property='identifier'}}


  {{#validated-input class="pt4" inputId='ticket-country' label=(t 'ticket.country.label') buffer=buffer required=true property='country' as |vi errors|}}
    <select
      class={{concat 'db w-100 ba br1 pa2 b--moon-gray bg-white ' (if errors.validation 'b--dark-red')}}
      id={{vi.inputId}}
      oninput={{action (changeset-set buffer vi.property) value='target.value'}}
      onblur={{action 'validateProperty' buffer vi.property target=vi}}
    >
      <option value=""> - {{t 'actions.choose'}} - </option>
      {{#each-in countries as |code name|}}
        <option value={{code}} selected={{eq buffer.country code}}>{{name}}</option>
      {{/each-in}}
    </select>
  {{/validated-input}}

  {{#validated-input
    class="pt4" inputId='ticket-background-company'
    label=(t 'ticket.backgroundCompany.formLabel')
    desc=(t 'ticket.backgroundCompany.desc')
    required=true
    buffer=buffer
    property='background' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-sources'
    label=(t 'ticket.sources.formLabel')
    desc=(t 'ticket.sources.desc')
    required=true
    buffer=buffer
    property='sources' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}

  {{#validated-input
    class="pt4"
    inputId='ticket-connections'
    label=(t 'ticket.connections.label')
    buffer=buffer
    property='connections' as |vi errors|
  }}
    {{#form-create-ticket/markdown-toggle tagName='' value=(changeset-get buffer vi.property)}}
      {{textarea
        rows=5
        class=(concat 'db w-100 ba br1 pa2 b--moon-gray ' (if errors.validation 'b--dark-red'))
        id=vi.inputId
        value=(mut (get buffer vi.property))
        focus-out=(action 'validateProperty' buffer vi.property target=vi)
      }}
    {{/form-create-ticket/markdown-toggle}}
  {{/validated-input}}
</div>
