<input type="text"
  id="{{id}}"
  class="formControl"
  value={{if currentValue (moment-format currentValue 'DD/MM/YYYY')}}
  onkeyup={{action 'updateDatepicker' value="target.value"}}
  onclick={{action 'open'}}
  onfocus={{action (mut isFocused) true}}
  onblur={{action (mut isFocused) false}}
  onchange={{action 'updateDatepicker' value="target.value"}}
  placeholder="dd/mm/yyyy" />

{{#if isShowingPopup}}
{{#modal-dialog
  containerClass="datepickerPopup"
  onClose='close'
  tetherTarget=(concat '#' id)
  targetAttachment="top left"
  attachment="bottom left"
  constraints=constraints
  hasOverlay=false
  clickOutsideToClose=true}}

  <div class="datepickerContainer">
    {{#power-calendar class="datepicker"
      center=center
      onCenterChange=(action (mut center) value="date")
      selected=currentValue
      onSelect=onSelect as |calendar|}}
      {{calendar.nav}}
      {{calendar.days weekdayFormat="min" minDate=minDate maxDate=maxDate}}
    {{/power-calendar}}
  </div>

{{/modal-dialog}}
{{/if}}

