<div class="searchBox">
  <input type="text" class="form-control" oninput={{perform task value="target.value" }} placeholder={{t 'ticket.country.search.placeholder'}} autocomplete="off" data-test-filter-search />
</div>

{{yield}}

{{#if task.isRunning}}
  {{ui-spinner}}
{{else}}

  {{#if task.lastSuccessful.value.length}}
    <div class="list">
      {{#each task.lastSuccessful.value as |country|}}
        <a href class="list-item {{if (eq country current) "is-active"}}" {{action onSelect country}} data-test-search-result={{country}}><span class="tagContainer">{{country}}</span> {{country-name country}}</a>
      {{/each}}
    </div>
  {{else if task.lastSuccessful}}
    <div class="noResults">{{t 'ticket.country.search.noResults'}}</div>
  {{/if}}
{{/if}}
