{{#if (or addSubscriber.isRunning disable)}}
  {{ui-spinner class="spinner--mimicButton"}}
{{else}}
  <form {{action "save" on="submit"}}>
    {{#validated-field
      class=""
      errors=buffer.validations.attrs.email.messages
      didValidate=didValidate as |field|}}

      <div class="db">
        {{input value=buffer.email class="bl-0 br-0 bt-0 bb" id="subscriber-email" placeholder=(t 'ticket.subscriber.emailPlaceholder')}}

        <a class="link b" {{action 'save'}} data-test-add-subscriber>
          {{~t 'actions.add'~}}
        </a>
      </div>

      {{#if field.showErrors}}
        {{#each field.errors as |error|}}
          <div class="formFeedback">{{error}}</div>
        {{/each}}
      {{/if}}
    {{/validated-field}}
  </form>
{{/if}}
