{{#ui-modal-container as |m|}}

<button class="button buttonOutlined--primary" {{action m.toggle}} data-test-mark-pending>
  {{t 'pods.view.pending.button'}}
</button>

{{#if m.isShowing}}
{{#ui-modal modifiers="modal--lg" onClose=(action m.toggle)}}
  <form class="modal-content" {{action "save" m.toggle on="submit"}}>

    <div class="modal-header">
      <h4 class="modal-title t-primary">{{t 'pods.view.pending.button'}}</h4>
      <button class="button button--icon button--dark" {{action m.toggle}} aria-label="Close">
        {{~icon "x"~}}
      </button>
    </div>

    <div class="modal-body">
      {{#validated-field
        class="formGroup"
        errors=this.validations.attrs.body.messages
        didValidate=didValidate as |field|}}

        {{textarea value=body class="formControl formControl--sm" id="ticket-pending" rows="6" placeholder=(t 'activity.comment.title')}}

        {{#if field.showErrors}}
          {{#each field.errors as |error|}}
            <div class="formFeedback t-right">{{error}}</div>
          {{/each}}
        {{/if}}

      {{/validated-field}}
    </div>

    <div class="modal-footer">
      <button class="button buttonOutlined--secondary" {{action m.toggle}}>
        {{~t 'actions.cancel'~}}
      </button>
      <button type="submit" class="button button--primary">
        {{~t 'actions.save'~}}
      </button>
    </div>

  </form>
{{/ui-modal}}
{{/if}}

{{/ui-modal-container}}