<a class="button button--bordered button--accent" {{action (mut isShowingModal) true}} data-test-mark-pending>
  {{t 'pods.view.pending.button'}}
</a>

{{#if isShowingModal}}
{{#ui-modal 
  containerClass="modal--uploader" 
  onClose=(action (mut isShowingModal) false)
}}
  <div class="modal-content">
  <div class="modal-body">

    <form class="activity-form" {{action "save" on="submit"}}>
      <div class="modal-title">
        <h4>{{t 'pods.view.pending.button'}}</h4>
      </div>

      <div class="modal-innerContent">
      {{#validated-field
        class="form-group"
        validation=this.validations.attrs.body
        didValidate=didValidate as |field|}}
        
        {{textarea value=body class="form-control" id="ticket-pending" rows="5" placeholder=(t 'activity.comment.title')}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get this "body" "message"}}</div>
        {{/if}}

      {{/validated-field}}
      </div>

      <div class="modal-actions modal-actions--right">
        <button type="submit" class="button button--primary">
          {{t 'actions.save'}}
        </button>
        <button class="button button--bordered button--accent" {{action (mut isShowingModal) false}}>
          {{t 'actions.cancel'}}
        </button>
      </div>
    </form>

  </div>
  </div>
{{/ui-modal}}
{{/if}}