<div class="wrapper">

  <div class="mt2 ttu flex">
    <div class="occrp-gray db pv2 b bw2 bb b--occrp-gray">
      {{t 'pods.user.title' displayName=model.displayName}}
    </div>
  </div>

  <div class="measure pv4">
    <div class="lh-copy mt2">
      <label for="user-bio" class="db silver">{{t 'pods.user.subtitle'}}</label>
      {{textarea value=model.bio id="user-bio" class="db w-100 h4 ba pa2"}}
    </div>

    <div class="lh-copy mt3">
      <button {{action 'save'}} type="submit" disabled={{model.isSaving}} class="b white ttu ph3 pv2 bn bg-occrp-red br2 dim" data-test-user-save>{{t 'actions.save'}}</button>
    </div>
  </div>
</div>
