<div class="activityList">

  {{#each data as |item|}}
  {{#unless item.isNew}}
    {{component (get componentsByType item.type) data=item class=(concat "activity activity--" item.type)}}

  {{/unless}}
  {{/each}}

  <div class="activity activity--update">
    <div class="activity-author"><strong>Leave a comment</strong></div>
    <form class="activity-body activity-form" {{action "save" on="submit"}}>

      {{#validated-field class="form-group" validation=this.validations.attrs.activity didValidate=didValidate as |field|}}
        {{textarea value=comment class="form-control" rows="5"}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get this "comment" "message"}}</div>
        {{/if}}
      {{/validated-field}}

      <button disabled={{publishComment.isRunning}} type="submit" class="button button--primary pull-right">
        Post comment
      </button>

      {{#if publishComment.isRunning}}
        {{ui-spinner}}
      {{/if}}

    </form>
  </div>

</div>