<div class="activityHeader">
  <h3 class="t-accent">
    {{t 'activity' count=1}}

    {{#if loadActivities.isRunning}}
      {{ui-spinner}}
    {{/if}}
  </h3>

  {{activity-pagination
    meta=activityCache.meta 
    current=currentPage 
    onSwitch=(action 'switchPage')}}
</div>

<div class="activityList">
  {{#each activityCache as |item|}}
    {{#with (get componentsByType item.verb) as |type|}}
      {{component (concat 'activity-' type) data=item class=(concat "activity activity--" type)}}
    {{/with}}
  {{/each}}

  {{#if showForm}}
  <div class="activity activity--comment">
    <div class="activity-author"><strong>{{t 'activity.comment.title'}}</strong></div>
    <form class="activity-body activity-form" {{action "save" on="submit"}}>

      {{#validated-field
        class="form-group"
        validation=this.validations.attrs.body 
        didValidate=didValidate as |field|}}

        {{textarea value=body class="form-control" rows="5"}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get this "body" "message"}}</div>
        {{/if}}
        
      {{/validated-field}}

      <div class="form-actions">
        <button disabled={{publishComment.isRunning}} type="submit" class="button button--primary pull-right">
          {{t 'activity.comment.submitButton'}}
        </button>
      </div>

      {{#if publishComment.isRunning}}
        {{ui-spinner}}
      {{/if}}

    </form>
  </div>
  {{/if}}

</div>