<div class="activityHeader">
  <h2 class="t3 t-light">
    {{t 'activity' count=1}}

    {{#if loadItems.isRunning}}
      {{ui-spinner}}
    {{/if}}
  </h2>

  {{activity-pagination
    meta=activityCache.meta
    current=currentPage
    onSwitch=(action 'switchPage')}}
</div>

<div class="activityList">
  {{#each activityCache as |item|}}
    {{#with (get componentsByType item.verb) as |type|}}
      {{component (concat 'activity-' type) data=item class=(concat "activity activity--" type) data-test-activity=type}}
    {{/with}}
  {{/each}}

  {{yield (hash reset=(action 'switchPage' 1))}}
</div>