<div class="mt4">
  <div class="bb b--light-gray p2 flex justify-between">
    <span class="gray ttu b tracked">{{t 'activity.one'}}</span>

    <label class="flex align-center">
      <input type="checkbox" checked={{showOnlyComments}} onchange={{action 'changeKind' value="target.checked"}} id="show-only-comments"/>
      {{t 'activity.showOnlyComments'}}
    </label>
  </div>

  <div class="activityHeader-loader">
    {{~#if loadItems.isRunning}}
      {{ui-spinner}}
    {{else}}
      {{#unless (eq meta.lastId cursor)}}
      <button class="button button--link" {{action 'loadMore'}} data-test-load-more>{{t 'activity.loadOlder'}}</button>
      {{/unless}}
    {{/if~}}
  </div>
</div>

{{#if loadItems.last.error}}
  <div class="alert alert--danger t-sm mt-4 mb-8" data-test-activity-error>
    {{icon "alert"}}
    {{t 'errors.activities'}}
  </div>
{{else}}
  <div class="activityList {{if (eq meta.lastId cursor) "activityList--full"}}">
    {{#each sortedActivities as |item|}}
      {{#with (get componentsByType item.verb) as |type|}}
        {{component (concat 'activity-' type)
          data=item
          class=(concat "activity activity--" type)
          data-test-activity=type}}
      {{/with}}
    {{/each}}

    {{yield}}
  </div>
{{/if}}
