
<div class="activityHeader">

  <div class="activityHeader-controls">
    <h2 class="t3 t-light">{{t 'activity' count=1}}</h2>

     <div class="formGroup">
      <label class="customControl customControl--checkbox">
        <input type="checkbox" class="customControl-input" checked={{showOnlyComments}} onchange={{action 'changeKind' value="target.checked"}} id="show-only-comments"/>
        <span class="customControl-indicator"></span>
        <span class="customControl-description">{{t 'activity.showOnlyComments'}}</span>
      </label>
    </div>
  </div>

  <div class="activityHeader-loader">
    {{~#if loadItems.isRunning}}
      {{ui-spinner}}
    {{else}}
      {{#unless (eq meta.earliestId cursor)}}
      <button class="button button--link" {{action 'loadMore'}} data-load-more>{{t 'activity.loadOlder'}}</button>
      {{/unless}}
    {{/if~}}
  </div>
</div>

{{#if loadItems.last.error}}
  <div class="alert alert--danger t-sm mt-4 mb-8" data-test-activity-error>
    {{icon "alert"}}
    {{t 'errors.activities'}}
  </div>
{{else}}
  <div class="activityList {{if (eq meta.earliestId cursor) "activityList--full"}}">
    {{#each sortedActivities as |item|}}
      {{#with (get componentsByType item.verb) as |type|}}
        {{component (concat 'activity-' type)
          data=item
          class=(concat "activity activity--" type)
          data-test-activity=type}}
      {{/with}}
    {{/each}}

    {{yield}}
  </div>
{{/if}}
