<p class="pb4">
  <span class="gray ttu tracked db b">
    {{t 'ticket.priority.label'}}
  </span>
  {{#if (can 'manage tickets')}}
    <select id="ticket-priority" class="mt2 bg-white w-70 ba br1 b--moon-gray"
      onchange={{action (mut model.priority) value="target.value"}}
    >
      {{#each priorityList as |opt|}}
        <option value={{opt}} selected={{eq opt model.priority}}>
          {{t (concat 'ticket.priority.' opt)}}
        </option>
      {{/each}}
    </select>

    {{#if (and model.isValid model.hasDirtyAttributes (not model.isSaving))}}
      <a {{action 'savePriority'}} class="link b" data-test-save-priority>
        {{t 'actions.save'}}
      </a>
    {{/if}}
  {{else}}
    {{t (concat 'ticket.priority.' model.priority)}}
  {{/if}}
</p>
