{{#ui-dropdown as |dd|}}
  {{#dd.trigger}}
    {{yield}}
  {{/dd.trigger}}

  {{#dd.body class="" attachment="top center" targetAttachment="bottom center"}}
    <div class="pa3">
      <p class="b">
        {{user.displayName}}
      </p>
      <p class="mt1 i pv2">{{user.bio}}</p>
      <p class="mt1">📯&#xFE0E; {{user.email}}</p>
      <p class="mt1">
        {{#link-to 'browse' (query-params requester=user.id page=1)~}}
          🙋&#xFE0E; {{t 'userCard.viewRequests'}}
        {{~/link-to}}
      </p>
      {{#if (can 'manage tickets')}}
      <p class="mt1">
        <a href="/admin/accounts/profile/{{user.id}}" target="_blank">
          🛂&#xFE0E; {{t 'userCard.adminProfile'}}
        </a>
      </p>
      {{/if}}
    </div>
  {{/dd.body}}
{{/ui-dropdown}}
