<div class="activity-headline">
  {{icon "trashcan"}}
  <div>
    <strong>{{user-avatar user=data.user preset="small"}}{{data.user.displayName}}</strong>
    {{t 'activity.attachment.removed'}} &bull;
    {{timestamp-full data.createdAt}}
  </div>
</div>