<div class="activity-author">
  <span class="tag tag--new">{{t 'activity.reopen.action'}}</span>
  {{t 'prefixes.by'}}
  <strong>{{data.user.displayName}}</strong>
  <time datetime={{data.createdAt}} title={{moment-format data.createdAt 'LLL'}}>
    {{moment-from-now data.createdAt}}
  </time>
</div>
<div class="activity-body formatted" data-test-activity-body>
  {{~data.comment.body~}}
</div>