<div class="activity-avatar">{{user-avatar user=data.user preset="large"}}</div>
<div class="activity-author">
  <strong>{{data.user.displayName}}</strong>
  <span class="tag tag--new">{{t 'activity.reopen.action'}}</span>
  {{timestamp-full data.createdAt}}
</div>
<div class="activity-body formatted" data-test-activity-body>
  {{~data.comment.body~}}
</div>