<div class="activity-author">
  <span class="tag tag--progress">reopened</span>
  by
  <strong>{{data.author.displayName}}</strong>
  at
  <time datetime={{data.created}} title={{moment-format data.created 'LLL'}}>
    {{moment-format data.created 'h:mm A, DD MMM YYYY'}}
  </time>
</div>
<div class="activity-body formatted">
  {{~data.comment~}}
</div>