<a class="button button--accent" {{action (mut isShowingModal) true}} data-test-reopen>
  {{t 'pods.view.reopen.button'}}
</a>

{{#if isShowingModal}}
{{#ui-modal onClose=(action (mut isShowingModal) false)}}
  <div class="modal-content">
  <div class="modal-body">

    <form class="activity-form" {{action "save" on="submit"}}>

      {{#validated-field
        class="form-group"
        validation=this.validations.attrs.body
        didValidate=didValidate as |field|}}

        <label for="ticket-reopen">{{t 'pods.view.reopen.title'}} <span class="text-danger">*</span></label>
        {{textarea value=body class="form-control" id="ticket-reopen" rows="5"}}

        {{#if field.showErrors}}
          <div class="help-block">{{v-get this "body" "message"}}</div>
        {{/if}}

      {{/validated-field}}

      <div class="form-actions">
        <button disabled={{publishActivity.isRunning}} type="submit" class="button button--primary pull-right">
          {{t 'actions.reopen'}}
        </button>
      </div>

      {{#if publishActivity.isRunning}}
        {{ui-spinner}}
      {{/if}}
    </form>

  </div>
  </div>
{{/ui-modal}}
{{/if}}