<div class="attachments">

  {{#if model.attachments.length}}
    <div class="attachments-list">
      {{#each model.attachments as |item|}}
        <a href={{item.upload}} target="_blank" class="file">
          <span class="tag">{{format-filesize item.fileSize}}</span> {{item.fileName}}
        </a>
      {{/each}}
    </div>
  {{/if}}

  {{#if canUpload}}
  <div class="attachments-dropzone">
    {{#ui-dropzone class="dropzone" name="ticket-attachments" as |dropzone queue|}}
      <div>
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <h4 class="dropzone-title">{{t 'attachment.dropzone.activeTitle'}}</h4>
          {{else}}
            Invalid
          {{/if}}
        {{else}}
          <h4 class="dropzone-title">{{t 'attachment.dropzone.title'}}</h4>
          <div class="dropzone-body">
            {{#if dropzone.supported}}
              <p>{{t 'attachment.dropzone.desc'}}</p>
            {{/if}}
            {{#file-upload
              name="ticket-attachments"
              multiple=true
              onfileadd=(action (mut isShowingModal) true) class="dropzone-trigger button button--accent"}}
              {{t 'attachment.dropzone.select'}}
            {{/file-upload}}
          </div>
        {{/if}}
      </div>
  {{/ui-dropzone}}
  </div>
  {{/if}}

</div>

{{#with (file-queue name="ticket-attachments") as |queue|}}
  {{#if isShowingModal}}
  {{#ui-modal 
    containerClass="modal--uploader" 
    onClose=(pipe (action (mut isShowingModal) false) (action 'flushQueue' queue))
  }}
    <div class="modal-content">
    <div class="modal-body">

      <form>
        <div class="modal-title">
          <h4>{{t 'attachment.filesSelected' count=queue.files.length}}</h4>
        </div>

        <div class="modal-attachmentsList">
          {{#each queue.files as |file|}}
            <div class="file">
              <span class="tag">{{format-filesize file.size}}</span>{{file.name}}
            </div>
          {{/each}}
        </div>

        <div class="modal-actions modal-actions--right">
          <button class="button button--primary" {{action 'startUploads' queue}} disabled={{batchUpload.isRunning}}>{{t 'actions.upload'}}</button>
          <button class="button button--bordered" {{action (pipe (action (mut isShowingModal) false) (action 'flushQueue' queue))}}>{{t 'actions.cancel'}}</button>

          {{#if batchUpload.isRunning}}
            <div class="modal-progress">
              {{queue.progress}}% {{ui-spinner}}
            </div>
          {{/if}}
        </div>
      </form>

    </div>
    </div>
  {{/ui-modal}}
  {{/if}}
{{/with}}