{{#if canUpload}}
  {{#ui-modal-container as |m|}}

  <div class="mb-4">
    {{#ui-dropzone class="dropzone" name="ticket-attachments" as |dropzone queue|}}
      <div>
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <h3 class="dropzone-title">{{t 'attachment.dropzone.activeTitle'}}</h3>
          {{else}}
            {{t 'attachment.dropzone.invalidTitle'}}
          {{/if}}
        {{else}}
          <h3 class="dropzone-title">{{t 'attachment.dropzone.title'}}</h3>
          <div class="dropzone-body">
            {{#if dropzone.supported}}
              <p>{{t 'attachment.dropzone.desc'}}</p>
            {{/if}}
            {{#file-upload
              name="ticket-attachments"
              multiple=true
              onfileadd=(action m.open) class="dropzone-trigger button button--primary"
              data-test-file-upload=true}}
              {{t 'attachment.dropzone.select'}}
            {{/file-upload}}
          </div>
        {{/if}}
      </div>
    {{/ui-dropzone}}
  </div>

  {{#with (file-queue name="ticket-attachments") as |queue|}}
  {{#if m.isShowing}}
  {{#ui-modal modifiers="modal--lg" onClose=(pipe m.close (action 'flushQueue' queue))}}
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title t-primary">
          {{~t 'attachment.filesSelected' count=queue.files.length~}}
        </h4>
        <button class="button button--icon button--dark" {{action (pipe m.close (action 'flushQueue' queue))}} aria-label="Close">
          {{~icon "x"~}}
        </button>
      </div>

      <div class="modal-body modal-body--grayed">
        <div class="modal-attachmentsList">
          {{#each queue.files as |file|}}
            <div class="file" title={{file.name}}>
              {{~icon "file" class="file-icon"~}}
              <span class="file-name">{{file.name}}</span>
              <span class="file-size">
                {{#if firstBatch}}
                  {{format-filesize file.size}}
                {{else if (eq file.state 'uploaded')}}
                  {{icon "check"}}
                {{else}}
                  {{t (concat 'attachment.state.' file.state)}}
                {{/if}}
              </span>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="modal-footer">
        {{#if batchUpload.isRunning}}
          <div class="modal-progress">
            {{queue.progress}}% {{ui-spinner}}
          </div>
        {{/if}}

        <button class="button buttonOutlined--secondary" {{action (pipe m.close (action 'flushQueue' queue))}} data-test-modal-cancel>
          {{~t 'actions.cancel'~}}
        </button>
        <button class="button button--primary" {{action 'startUploads' queue m.close}} disabled={{batchUpload.isRunning}} data-test-modal-confirm>
          {{~t 'actions.upload'~}}
        </button>
      </div>

    </div>
  {{/ui-modal}}
  {{/if}}
  {{/with}}

  {{/ui-modal-container}}
{{/if}}

{{#if model.attachments.length}}
  <h4 class="t-light mb-3">{{t 'attachment' count=2}}</h4>

  {{#ui-modal-container as |m2|}}

  <div class="fileTimeline">
  {{#each processedAttachments as |group|}}
    <div class="fileGroup">
      <p class="fileGroup-title">{{user-avatar user=group.user preset="small"}}{{group.user.displayName}}</p>
      <ul class="fileGroup-body">
        {{#each group.models as |item|}}
          <li>
            <p class="fileGroup-timestamp">{{timestamp-full item.createdAt}}</p>
            <a href={{item.upload}} title={{item.fileName}} target="_blank" class="file" data-test-attachment={{item.id}}>
              {{~icon "file" class="file-icon"~}}
              <span class="file-name">{{item.fileName}}</span>
              <span class="file-size">{{format-filesize item.fileSize}}</span>
              {{#if (or (can 'manage tickets') (eq model.requester.id item.user.id))}}
                <button class="file-remove button button--icon button--dark" {{action (queue (action 'addToRemovalBin' item) m2.toggle)}} data-test-remove-attachment>
                  {{~icon "trashcan"~}}
                </button>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
  </div>

  {{#if m2.isShowing}}
  {{#ui-modal onClose=(queue m2.toggle (action 'emptyRemovalBin'))}}
    <div class="modal-content">

      <div class="modal-body t-center">
        <h4 class="t-normal mt-2 mb-n2 t-muted">{{t 'attachment.removalPrompt'}}</h4>
      </div>

      <div class="modal-body modal-body--grayed">
        <div class="modal-attachmentsList">
          <a href={{removalBin.upload}} title={{removalBin.fileName}} target="_blank" class="file">
            {{~icon "file" class="file-icon"~}}
            <span class="file-name">{{removalBin.fileName}}</span>
            <span class="file-size">{{format-filesize removalBin.fileSize}}</span>
          </a>
        </div>
      </div>

      <div class="modal-footer modal-footer--center">
        <button class="button buttonOutlined--secondary" {{action (queue m2.toggle (action 'emptyRemovalBin'))}} data-test-modal-cancel>
          {{~t 'actions.cancel'~}}
        </button>
        <button class="button button--primary" {{action 'removeFile' m2.toggle}} data-test-modal-confirm>
          {{~t 'actions.delete'~}}
        </button>
      </div>

    </div>
  {{/ui-modal}}
  {{/if}}

  {{/ui-modal-container}}

{{else if (not canUpload)}}
  <h4 class="t-light mb-3">{{t 'attachment' count=0}}</h4>
{{/if}}
